#parse("/admin/header.vm")

<div class="page-header">
    <h2>Order $order.id</h2>
    <h5>Placed: $datetool.format($order.datePlaced) &nbsp; &nbsp; Status: $order.status &nbsp; &nbsp;
        Total: $number.currency($order.total())</h5>
</div>

<form class="form-horizontal" method="POST">

<legend>Order Details</legend>
<div class="form-group">
    <label class="col-lg-2 control-label">Account</label>

    <div class="col-lg-8">
        <p class="form-control-static">$order.account.name
            <a href="/backoffice/account/$order.account.id" class="btn btn-sm btn-default">Edit Account</a>
        </p>

        <p class="form-control-static"><a href="email:$!order.account.email">$!order.account.email</a></p>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Status</label>

    <div class="col-lg-8">
      #springFormSingleSelect("order.status", $statusMap, "class='form-control'")
    </div>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">Vatable</label>

    <div class="col-lg-8">
      #springFormCheckbox("order.vatable", $order.vatable)
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Customer Note</label>

    <div class="col-lg-8">
      #springFormInput("order.customerNote", "class='form-control'")
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <legend>Delivery Address</legend>
        <div class="form-group">
            <label class="col-lg-2 control-label">Name</label>

            <div class="col-lg-8">
                <span class="form-control-static">$!order.deliveryAddress.name</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Company</label>

            <div class="col-lg-8">
                <span class="form-control-static">$!order.deliveryAddress.company</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Address</label>

            <div class="col-lg-8">
                <span class="form-control-static">$!order.deliveryAddress.address1</span>
            </div>
        </div>
        <div class="form-group">

            <div class="col-lg-8">
                <span class="form-control-static">$!order.deliveryAddress.address2</span>
            </div>
        </div>
        <div class="form-group">

            <div class="col-lg-8">
                <span class="form-control-static">$!order.deliveryAddress.address3</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">City</label>

            <div class="col-lg-8">
                <span class="form-control-static">$!order.deliveryAddress.town</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Postcode</label>

            <div class="col-lg-8">
                <span class="form-control-static">$!order.deliveryAddress.postcode</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Country</label>

            <div class="col-lg-8">
                <span class="form-control-static">$!order.deliveryAddress.country</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Telephone</label>

            <div class="col-lg-8">
                <span class="form-control-static">$!order.deliveryAddress.telephone</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Instructions</label>

            <div class="col-lg-8">
                <span class="form-control-static">$!order.deliveryAddress.instructions</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Change Delivery Address</label>

            <div class="col-lg-8">
              #springFormSingleSelect("form.changeDeliveryAddress", $addressesMap, "class='form-control'")
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <legend>Billing Address</legend>
        <div class="form-group">
            <label class="col-lg-2 control-label">Name</label>

            <div class="col-lg-8">
                <span class="form-control-static">$!order.billingAddress.name</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Company</label>

            <div class="col-lg-8">
                <span class="form-control-static">$!order.billingAddress.company</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Address</label>

            <div class="col-lg-8">
                <span class="form-control-static">$!order.billingAddress.address1</span>
            </div>
        </div>
        <div class="form-group">

            <div class="col-lg-8">
                <span class="form-control-static">$!order.billingAddress.address2</span>
            </div>
        </div>
        <div class="form-group">

            <div class="col-lg-8">
                <span class="form-control-static">$!order.billingAddress.address3</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">City</label>

            <div class="col-lg-8">
                <span class="input-lg uneditable-input">$!order.billingAddress.town</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Postcode</label>

            <div class="col-lg-8">
                <span class="input-medium uneditable-input">$!order.billingAddress.postcode</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Country</label>

            <div class="col-lg-8">
                <span class="input-lg uneditable-input">$!order.billingAddress.country</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Telephone</label>

            <div class="col-lg-8">
                <span class="form-control-static">$!order.billingAddress.telephone</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Change Billing Address</label>

            <div class="col-lg-8">
              #springFormSingleSelect("form.changeBillingAddress", $addressesMap,"class='form-control'")
            </div>
        </div>
    </div>
</div>


<legend>Lines</legend>
<table class="table table-condensed table-hover">
    <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Subtotal</th>
        <th>Vat</th>
        <th>Total</th>
        <th></th>
    </tr>
  #foreach ($l in $order.sortedLinesJava())
      <tr>
          <td>$l.description</td>
          <td>
              <input type="text" name="linePrice$l.id" class="form-control" value="$number.number($l.priceExVat())"/>
          </td>
          <td>
              <input type="text" name="lineQty$l.id" class="form-control" value="$l.qty()"/>
          </td>
          <td>$number.number($l.totalExVat())</td>
          <td>$number.number($l.totalVat()) @ $l.vatRate%</td>
          <td>$number.number($l.totalIncVat())</td>
          <td>
              <a class="btn btn-xs btn-danger" href="/backoffice/order/$order.id/line/$l.id/remove">
                  <i class="glyphicon glyphicon-trash"></i></a>
          </td>
      </tr>
  #end
    <tr>
        <td>$!order.deliveryDetails</td>
        <td><input type="text" name="changeDeliveryCharge" class='form-control'
                   value="$number.number($order.deliveryEx())"/>
        </td>
        <td></td>
        <td>$number.number($order.deliveryEx())</td>
        <td>$number.number($order.deliveryVat()) @ $order.deliveryVatRate()%</td>
        <td>$number.number($order.deliveryInc())</td>
        <th></th>
    </tr>
    <tr>
        <th>
          #springFormSingleSelect("form.changeDeliveryOption", $deliveryOptionsMap, "class='form-control'")
        </th>
        <th></th>
        <th></th>
        <th>$number.number($order.subtotal())</th>
        <th>$number.number($order.vat())</th>
        <th>$number.number($order.total())</th>
        <th></th>
    </tr>
</table>

<div class="panel panel-default">
    <div class="panel-body">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="/backoffice/plugin/shopping/address/$order.account.id?orderId=$order.id&set=billing"
           role="button" class="btn btn-default">
            Add delivery address
        </a>
        <a href="/backoffice/invoice/$order.id" class="btn btn-default" role="button">Print Invoice</a>
    </div>
</div>
</form>


<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <form method="POST" action="/backoffice/order/$order.id/line/add">
                <input type="hidden" id="add-line-id" name="objId"/>

                <div class="col-md-10">
                    <input type="text" class="form-control" id="add-line-typeahead" value=""
                           placeholder="Search for products"/>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Add Item</button>
                </div>
            </form>
            <script>
                $('#add-line-typeahead').typeahead({
                    remote: '/rest/obj?q=%QUERY',
                    limit: 10
                }).bind("typeahead:selected",function (dataset, datum) {
                            $('#add-line-id').val(datum.id);
                        }).bind("typeahead:autocompleted", function (dataset, datum) {
                            $('#add-line-id').val(datum.id);
                        })
            </script>
        </div>

        <div class="row">
            <form method="POST" action="/backoffice/order/$order.id/line/add">
                <div class="col-md-8">
                    <input type="text" id="desc" name="desc" value="" class="form-control"
                           placeholder="Enter description"/>
                </div>
                <div class="col-md-2">
                    <input type="text" id="price" name="price" value="" class="form-control"
                           placeholder="Enter price"/>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Add Line</button>
                </div>
            </form>
        </div>
    </div>
</div>

<legend>Payments</legend>
<table class="table table-condensed table-hover">
    <tr>
        <th>Payment Type</th>
        <th>Transaction Id</th>
        <th>Date</th>
        <th>Amount</th>
    </tr>
  #foreach ($payment in $order.payments)
      <tr>
          <td>!$payment.paymentProcessor</td>
          <td>$payment.transactionId</td>
          <td>$datetool.format($payment.date)</td>
          <td>$number.number($payment.amountDecimal())</td>
      </tr>
  #end
</table>


<legend>Comments</legend>
<table class="table table-condensed table-hover">
    <tr>
        <th>Author</th>
        <th>Date</th>
        <th>Comment</th>
    </tr>
  #foreach ($c in $order.sortedCommentsJava())
      <tr>
          <td>$c.author</td>
          <td>$datetool.format($c.date)</td>
          <td>$c.body</td>
      </tr>
  #end
</table>


<div class="panel panel-default">
    <div class="panel-heading">Add comment</div>
    <div class="panel-body">
        <form method="POST" action="/backoffice/order/$order.id/comment/add">
            <textarea name="message" class="form-control"></textarea>
            <button type="submit" class="btn btn-primary">Add comment</button>
        </form>
    </div>
</div>


#parse("/admin/footer.vm")