#parse("/admin/header.vm")


<h3>View Order $order.id</h3>

<form class="form-horizontal" method="POST">

<legend>Order Details</legend>
<div class="control-group">
    <label class="control-label">Account</label>

    <div class="controls">
        <span class="input-xlarge uneditable-input">$order.account.name</span>
        <a href="mailto:$order.account.email" class="input-xlarge uneditable-input">$!order.account.email</a>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Date Placed</label>

    <div class="controls">
        <span class="uneditable-input">$!o.datePlacedLondon().toString("MMM dd yyyy, HH:mm")</span>
        <a href="/backoffice/invoice/$order.id" class="btn btn-small" role="button">Print Invoice</a>
    </div>
</div>

<div class="control-group">
    <label class="control-label">Status</label>

    <div class="controls">
        <span class="uneditable-input">$order.status</span>
        #springFormSingleSelect("order.status", $statusMap, "")
    </div>
</div>
<div class="control-group">
    <label class="control-label">Vatable</label>

    <div class="controls">
        #springFormCheckbox("order.vatable", $order.vatable)
    </div>
</div>
<div class="control-group">
    <label class="control-label"></label>

    <div class="controls">
        #springFormCheckbox("order.customerNote", $order.vatable)
    </div>
</div>

<div class="control-group">
    <label class="control-label">Customer Note</label>

    <div class="controls">
        #springFormInput("order.customerNote", "class='input-xxlarge'")
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <legend>Delivery Address</legend>
        <div class="control-group">
            <label class="control-label">Name</label>

            <div class="controls">
                <span class="input-xlarge uneditable-input">$!order.deliveryAddress.name</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Company</label>

            <div class="controls">
                <span class="input-xlarge uneditable-input">$!order.deliveryAddress.company</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Address</label>

            <div class="controls">
                <span class="input-xlarge uneditable-input">$!order.deliveryAddress.address1</span>
            </div>
        </div>
        <div class="control-group">

            <div class="controls">
                <span class="input-xlarge uneditable-input">$!order.deliveryAddress.address2</span>
            </div>
        </div>
        <div class="control-group">

            <div class="controls">
                <span class="input-xlarge uneditable-input">$!order.deliveryAddress.address3</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">City</label>

            <div class="controls">
                <span class="input-large uneditable-input">$!order.deliveryAddress.town</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Postcode</label>

            <div class="controls">
                <span class="input-medium uneditable-input">$!order.deliveryAddress.postcode</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Country</label>

            <div class="controls">
                <span class="input-large uneditable-input">$!order.deliveryAddress.country</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Telephone</label>

            <div class="controls">
                <span class="input-large uneditable-input">$!order.deliveryAddress.telephone</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Instructions</label>

            <div class="controls">
                <span class="input-xlarge uneditable-input">$!order.deliveryAddress.instructions</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Change Delivery Address</label>

            <div class="controls">
                #springFormSingleSelect("form.changeDeliveryAddress", $addressesMap, "class='input-xlarge'")
            </div>
        </div>
    </div>

    <div class="span6">
        <legend>Billing Address</legend>
        <div class="control-group">
            <label class="control-label">Name</label>

            <div class="controls">
                <span class="input-xlarge uneditable-input">$!order.billingAddress.name</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Company</label>

            <div class="controls">
                <span class="input-xlarge uneditable-input">$!order.billingAddress.company</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Address</label>

            <div class="controls">
                <span class="input-xlarge uneditable-input">$!order.billingAddress.address1</span>
            </div>
        </div>
        <div class="control-group">

            <div class="controls">
                <span class="input-xlarge uneditable-input">$!order.billingAddress.address2</span>
            </div>
        </div>
        <div class="control-group">

            <div class="controls">
                <span class="input-xlarge uneditable-input">$!order.billingAddress.address3</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">City</label>

            <div class="controls">
                <span class="input-large uneditable-input">$!order.billingAddress.town</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Postcode</label>

            <div class="controls">
                <span class="input-medium uneditable-input">$!order.billingAddress.postcode</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Country</label>

            <div class="controls">
                <span class="input-large uneditable-input">$!order.billingAddress.country</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Telephone</label>

            <div class="controls">
                <span class="input-large uneditable-input">$!order.billingAddress.telephone</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Change Billing Address</label>

            <div class="controls">
                #springFormSingleSelect("form.changeBillingAddress", $addressesMap,"class='input-xlarge'")
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="/backoffice/plugin/shopping/address/$order.account.id?orderId=$order.id&set=billing"
                   role="button" class="btn btn-small">Create
                    Address</a>
            </div>
        </div>
    </div>
</div>


<legend>Lines</legend>
<table class="table table-condensed table-hover">
    <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Subtotal</th>
        <th>Vat</th>
        <th>Total</th>
        <th></th>
    </tr>
    #foreach ($l in $order.sortedLinesJava())
        <tr>
            <td>$l.description</td>
            <td>
                <input type="text" name="linePrice$l.id" class='input-mini' value="$number.number($l.priceExVat())"/>
            </td>
            <td>
                <input type="text" name="lineQty$l.id" class='input-mini' value="$l.qty()"/>
            </td>
            <td>$number.number($l.totalExVat())</td>
            <td>$number.number($l.totalVat()) @ $l.vatRate%</td>
            <td>$number.number($l.totalIncVat())</td>
            <td>
                <a class="btn btn-small" href="/backoffice/order/$order.id/line/$l.id/remove">
                    <i class="icon-trash"></i></a>
            </td>
        </tr>
    #end
    <tr>
        <td>$!order.deliveryDetails</td>
        <td><input type="text" name="changeDeliveryCharge" class='input-mini'
                   value="$number.number($order.deliveryEx())"/>
        </td>
        <td></td>
        <td>$number.number($order.deliveryEx())</td>
        <td>$number.number($order.deliveryVat()) @ $order.deliveryVatRate()%</td>
        <td>$number.number($order.deliveryInc())</td>
        <th></th>
    </tr>
    <tr>
        <th>#springFormSingleSelect("form.changeDeliveryOption", $deliveryOptionsMap, "class='input-xxlarge'")</th>
        <th></th>
        <th></th>
        <th>$number.number($order.subtotal())</th>
        <th>$number.number($order.vat())</th>
        <th>$number.number($order.total())</th>
        <th></th>
    </tr>
</table>

<div class="form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <button type="button" class="btn">Cancel</button>
</div>
</form>

<div class="row">
    <div class="span12">
        <form method="POST" action="/backoffice/order/$order.id/line/add" class="pull-right">
            <input type="hidden" id="add-line-id" name="objId"/>
            <input type="text" class="input-xxlarge" id="add-line-typeahead" value=""/>
            <script>
                autosep = ":";
                $('#add-line-typeahead').typeahead({
                    source: function (query, process) {
                        return $.ajax({
                            url: "/rest/obj?objectTypeName=Product",
                            type: 'GET',
                            data: {q: query},
                            dataType: 'json',
                            success: function (json) {
                                var arr = [];
                                for (var i in json) {
                                    arr.push(json[i][0] + autosep + json[i][1]);
                                }
                                process(arr);
                            }
                        });
                    }, highlighter: function (item) {
                        var parts = item.split(autosep);
                        parts.shift();
                        return parts.join(autosep);
                    }, updater: function (item) {
                        var parts = item.split(autosep);
                        var id = parts.shift();
                        $('#add-line-id').val(id);
                        return parts.join(autosep);
                    }
                })
            </script>
            <button type="submit" class="btn btn-inverse btn-small">Add Item</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="span12">
        <form method="POST" action="/backoffice/order/$order.id/line/add" class="pull-right">
            Description: <input type="text" id="desc" name="desc" value="" class="input-xlarge"/>
            Price: <input type="text" id="price" name="price" value="0" class="input-small"/>
            <button type="submit" class="btn btn-inverse btn-small">Add Line</button>
        </form>
    </div>
</div>

<legend>Payments</legend>
<table class="table table-condensed table-hover">
    <tr>
        <th>Payment Type</th>
        <th>Transaction Id</th>
        <th>Date</th>
        <th>Amount</th>
    </tr>
    #foreach ($payment in $order.payments)
        <tr>
            <td>!$payment.paymentType</td>
            <td>$payment.transactionId</td>
            <td>$datetool.format($payment.date)</td>
            <td>$number.number($payment.amountDecimal())</td>
        </tr>
    #end
</table>


<legend>Comments</legend>
<table class="table table-condensed table-hover">
    <tr>
        <th>Author</th>
        <th>Date</th>
        <th>Comment</th>
    </tr>
    #foreach ($c in $order.sortedCommentsJava())
        <tr>
            <td>$c.author</td>
            <td>$datetool.format($c.date)</td>
            <td>$c.body</td>
        </tr>
    #end
</table>

<form method="POST" action="/backoffice/order/$order.id/comment/add" class="pull-right">
    <textarea name="message" class="input-xxlarge"></textarea>
    <button type="submit" class="btn btn-small">Add Comment</button>
</form>


#parse("/admin/footer.vm")