#parse("/admin/header.vm")

<div class="page-header">
    <h2>Orders</h2>
</div>

<form method="GET" class="form-horizontal">

    <div class="form-group">
        <label class="col-lg-2 control-label">Order Id</label>

        <div class="col-lg-8">
          #springFormInput("form.orderId", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Customer Name</label>

        <div class="col-lg-8">
          #springFormInput("form.name", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Status</label>

        <div class="col-lg-8">
          #springFormSingleSelect("form.status", $orderStatusMap, "class='form-control'")
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> Search orders
            </button>
        </div>
    </div>
</form>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Create order</h3>
    </div>
    <div class="panel-body">
        <form method="POST" action="/backoffice/order/create" class="form-horizontal">
            <input type="hidden" id="add-account-id" name="accountId"/>
            <input type="text" class="input-xlarge" id="add-account-typeahead" value=""/>
            <script>
                $('#add-account-typeahead').typeahead({
                    remote: '/rest/account?q=%QUERY',
                    limit: 10
                }).bind("typeahead:selected",function (dataset, datum) {
                            $('#add-account-id').val(datum.id);
                        }).bind("typeahead:autocompleted", function (dataset, datum) {
                            $('#add-account-id').val(datum.id);
                        })
            </script>
            <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> Create Order
            </button>
        </form>
    </div>
</div>

#paging($paging)

<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Date Placed</th>
        <th>Status</th>
        <th>Customer</th>
        <th>Details</th>
        <th>Total</th>
        <th></th>
    </tr>
  #foreach ($o in $orders)
      <tr>
          <td><a href="/backoffice/order/$o.id">$o.id</a></td>
          <td>$o.datePlacedLondon().toString("MMM dd yyyy, HH:mm")</td>
          <td>$!o.status</td>
          <td>$!o.account.name</td>
          <td>$!o.description.get</td>
          <td>$o.total()</td>
          <td>
              <a href="/backoffice/order/$o.id" role="button" class="btn btn-xs btn-default">
                  <i class="glyphicon glyphicon-pencil"></i>
              </a>
              <a href="/backoffice/invoice/$o.id" role="button" class="btn btn-xs btn-info">
                  <i class="glyphicon glyphicon-print"></i>
              </a>
          </td>
      </tr>
  #end
</table>

#paging($paging)


#parse("/admin/footer.vm")