<div class="form-group">
    <label class="col-lg-2 control-label">Name</label>

    <div class="col-lg-8">
      #springFormInput("widget.name", "class='form-control'")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Visible</label>

    <div class="col-lg-8">
      #springFormCheckbox("widget.visible", "")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Location</label>

    <div class="col-lg-8">
      #springFormInput("widget.location", "class='form-control'")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Container</label>

    <div class="col-lg-8">
      #springFormSingleSelect("widget.container", $widgetContainerMap, "class='form-control'")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Container Class</label>

    <div class="col-lg-8">
      #springFormInput("widget.containerClass", "class='form-control'")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Container Id</label>

    <div class="col-lg-8">
      #springFormInput("widget.containerId", "class='form-control'")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Caption</label>

    <div class="col-lg-8">
      #springFormInput("widget.caption", "class='form-control'")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Restricted</label>

    <div class="col-lg-8">
      #springFormCheckbox("widget.restricted", "")
    </div>
</div>

#if ($widget.restricted)
<div class="form-group">
    <label class="col-lg-2 control-label">Display On All Folders</label>

    <div class="col-lg-8">
      #springFormCheckbox("widget.displayOnAllFolders")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Included folders</label>

    <div class="col-lg-8">
      #springFormInput("widget.includeFolders", "class='form-control'")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Excluded folders</label>

    <div class="col-lg-8">
      #springFormInput("widget.excludeFolders", "class='form-control'")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Display On All Objects</label>

    <div class="col-lg-8">
      #springFormCheckbox("widget.displayOnAllObjects")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Display On Home</label>

    <div class="col-lg-8">
      #springFormCheckbox("widget.displayOnHome")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Display On Others</label>

    <div class="col-lg-8">
      #springFormCheckbox("widget.displayOnSearchResults")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Display On Others</label>

    <div class="col-lg-8">
      #springFormCheckbox("widget.displayOnOthers")
    </div>
</div>

#end


<div class="form-group">
    <label class="col-lg-2 control-label">One Time Visible</label>

    <div class="col-lg-8">
      #springFormCheckbox("widget.oneTimeVisible")
    </div>
</div>