#parse("/admin/header.vm")


<div class="page-header">
    <h2>Html Widget: $widget.id</h2>
</div>


<form class="form-horizontal" method="POST">

  #parse("/admin/widget/common.vm")

    <div class="form-group">
        <label class="col-lg-2 control-label">Simple Editor</label>

        <div class="col-lg-8">
          #springFormCheckbox("widget.simpleEditor", "")
        </div>
    </div>

  #if ($widget.simpleEditor)
      <div class="form-group">
          <label class="col-lg-2 control-label">Content</label>

          <div class="col-lg-8">
            #springFormTextarea("widget.content", "rows='16' class='input-block-level'")
          </div>
      </div>
  #else
      <div class="form-group">
          <label class="col-lg-2 control-label">Content</label>

          <div class="col-lg-8">
            #springFormTextarea("widget.content", "rows='16' class='input-block-level tinymce'")
          </div>
      </div>
  #end

  #parse("/admin/widget/buttons.vm")

</form>

#parse("/admin/footer.vm")