#parse("/admin/header.vm")


<h3>Widgets</h3>


<table class="table table-condensed table-hover" id="widgets-table">
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Name</th>
        <th>Location</th>
        <th></th>
    </tr>
    <tbody>
        #foreach ($w in $widgets)
        <tr class="widget-row" data-widget-id="$w.id">
            <td>$w.id</td>
            <td>$w.widgetType()</td>
            <td>$!w.name</td>
            <td>$!w.location</td>
            <td>
                <a href="$w.backoffice()" role="button" class="btn btn-mini"> <i class="icon-pencil"></i></a>

                <a onClick="bootbox.confirm('Confirm delete', function(result) {
                        if (result) {
                        window.location='/backoffice/widget/$w.id/delete';
                        }})" role="button" class="btn btn-danger btn-mini">
                    <i class="icon-trash icon-white"></i></a>
            </td>
        </tr>
        #end
    </tbody>
</table>

<form method="POST" action="/backoffice/widget/create">
    Add Widget:
    <select name="class">
        #foreach($class in $classes.keySet())
            <option value="${class}">${classes.get($class)}</option>
        #end
    </select>
    <button type="submit">Submit</button>
</form>

<script>
    $(function () {
        $("#widgets-table tbody").sortable({

            update: function (event, ui) {
                var order = []
                $("#widgets-table tr.widget-row").each(function (v) {
                    var id = $(this).attr("data-widget-id")
                    order.push(id)
                })

                $.ajax({
                    type: "POST",
                    url: "/backoffice/widget/order",
                    data: order.join('-'),
                    contentType: "text/plain"
                });
            }
        });
        $("#widgets-table tbody").disableSelection();
    });
</script>


#parse("/admin/footer.vm")