#parse("/admin/header.vm")


<div class="page-header">
    <h2>Media Widget: $widget.id</h2>
</div>

<form class="form-horizontal" method="POST" enctype="multipart/form-data"
      action="/backoffice/widget/media/$widget.id/saveAndUpload">

  #parse("/admin/widget/common.vm")

    <legend>Images</legend>
    <table class="table table-bordered table-condensed table-striped table-hover">
        <tr>
            <th>Image</th>
            <th>Filename</th>
            <th>Content Type</th>
        </tr>

      #foreach ($a in $assets)
          <tr>
              <td>
                  <ul class="thumbnails">
                      <li class="span6">
                          <div class="thumbnail"><img src="$a.url()"/></div>
                      </li>
                  </ul>
              </td>
              <td>$a.filename()</td>
              <td>$a.contentType()</td>
          </tr>
      #end
    </table>

    Image Upload: <input type="file" name="upload"/>

  #parse("/admin/widget/buttons.vm")


</form>

#parse("/admin/footer.vm")


