#parse("/admin/header.vm")


<h3>Edit Widget</h3>


<form class="form-horizontal" method="POST" enctype="multipart/form-data"
      action="/backoffice/widget/media/$widget.id/saveAndUpload">

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormInput("widget.name")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Visible</label>

        <div class="controls">
            #springFormCheckbox("widget.visible")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Location</label>

        <div class="controls">
            #springFormInput("widget.location")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Container</label>

        <div class="controls">
            #springFormSingleSelect("widget.container", $widgetContainerMap)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Container Class</label>

        <div class="controls">
            #springFormInput("widget.containerClass")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Container Id</label>

        <div class="controls">
            #springFormInput("widget.containerId")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Caption</label>

        <div class="controls">
            #springFormInput("widget.caption")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Restricted</label>

        <div class="controls">
            #springFormCheckbox("widget.restricted")
        </div>
    </div>

    #if ($widget.restricted)
        <div class="control-group">
            <label class="control-label">Display On All Folders</label>

            <div class="controls">
                #springFormCheckbox("widget.displayOnAllFolders")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Display On All Objects</label>

            <div class="controls">
                #springFormCheckbox("widget.displayOnAllObjects")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Display On Home</label>

            <div class="controls">
                #springFormCheckbox("widget.displayOnHome")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Display On Others</label>

            <div class="controls">
                #springFormCheckbox("widget.displayOnOthers")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Display On Search Results</label>

            <div class="controls">
                #springFormCheckbox("widget.displayOnSearchResults")
            </div>
        </div>
    #end

    <legend>Images</legend>
    <table class="table table-bordered table-condensed table-striped table-hover">
        <tr>
            <th>Image</th>
            <th>Filename</th>
            <th>Content Type</th>
        </tr>

        #foreach ($a in $assets)
            <tr>
                <td>
                    <ul class="thumbnails">
                        <li class="span6">
                            <div class="thumbnail"><img src="$a.url()"/></div>
                        </li>
                    </ul>
                </td>
                <td>$a.filename()</td>
                <td>$a.contentType()</td>
            </tr>
        #end
    </table>

    Image Upload: <input type="file" name="upload"/>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn">Cancel</button>
    </div>

</form>

#parse("/admin/footer.vm")


