#parse("/admin/header.vm")


<h3>Edit Search Form Section</h3>

<form class="form-horizontal" method="POST">

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
          #springFormInput("section.name", "class='input-xlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Visible</label>

        <div class="controls">
          #springFormCheckbox("section.visible", "")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Search Form</label>

        <div class="controls">
            Edit Search Form <a href="/backoffice/searchform/$section.searchForm.id" class="btn btn-xs">
            <i class="glyphicon glyphicon-pencil"></i></a>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">No results text</label>

        <div class="controls">
          #springFormTextarea("section.noResultsText", "class='input-xlarge'")
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="/backoffice/folder/$section.folder.id" class="btn">Return</a>
    </div>

</form>

#parse("/admin/footer.vm")