#parse("/admin/header.vm")


<h3>Edit Search Results Section</h3>

<form class="form-horizontal" method="POST">

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormInput("section.name", "class='input-xlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Visible</label>

        <div class="controls">
            #springFormCheckbox("section.visible", "")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Markup</label>

        <div class="controls">
            <select id="markup" name="markup">
                #foreach($option in $markupMap.keySet())
                    <option value="${option}"
                        #if("$!section.markup.id" == "$option")
                            selected="selected"
                        #end>
                        ${markupMap.get($option)}</option>
                #end
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Search</label>

        <div class="controls">
            Edit Saved Search <a href="/backoffice/savedsearch/$section.search.id" class="btn btn-mini">
            <i class="icon-pencil"></i></a>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="/backoffice/folder/$section.folder.id" class="btn">Return</a>
    </div>

</form>

#parse("/admin/footer.vm")