#parse("/admin/header.vm")

<div class="page-header">
    <h2>Vouchers</h2>
</div>

<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Code</th>
        <th>Start</th>
        <th>Expiry</th>
        <th></th>
    </tr>
  #foreach ($v in $vouchers)
      <tr>
          <td>
              <a href="/backoffice/plugin/voucher/$v.id">
                $v.id
              </a>
          </td>
          <td>$v.name</td>
          <td>$v.code</td>
          <td>$datetool.format("EEEEE dd-MM-yyyy", $v.start)</td>
          <td>$datetool.format("EEEEE dd-MM-yyyy",$v.expiry)</td>
          <td>
              <a href="/backoffice/plugin/voucher/$v.id" role="button" class="btn btn-xs btn-default">
                  <i class="glyphicon glyphicon-pencil"></i>
              </a>
          </td>
      </tr>
  #end
</table>


<div class="panel panel-default">
    <div class="panel-body">
        <a href="/backoffice/plugin/voucher/create" role="button" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i> Add new voucher</a>
    </div>
</div>

#parse("/admin/footer.vm")