#parse("/admin/header.vm")

<div class="page-header">
    <h2>Markup $markup.id</h2>
</div>

<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>

        <div class="col-lg-8">
          #springFormInput("markup.name", "class='form-control'")
        </div>
    </div>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li><a href="#tab1" data-toggle="tab">Start</a></li>
            <li class="active"><a href="#tab2" data-toggle="tab">Body</a></li>
            <li><a href="#tab3" data-toggle="tab">Between</a></li>
            <li><a href="#tab4" data-toggle="tab">End</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="tab1">
              #springFormTextarea("markup.start", "rows='24' class='form-control '")
            </div>
            <div class="tab-pane active" id="tab2">
              #springFormTextarea("markup.body", "rows='24' class='form-control '")
            </div>
            <div class="tab-pane" id="tab3">
              #springFormTextarea("markup.between", "rows='24' class='form-control '")
            </div>
            <div class="tab-pane" id="tab4">
              #springFormTextarea("markup.end", "rows='24' class='form-control '")
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a href="/backoffice/markup" class="btn btn-default">Return</a>
        </div>
    </div>

</form>

#parse("/admin/footer.vm")