#parse("/admin/header.vm")


<h3>Markup</h3>

<a href="/backoffice/markup/create" role="button" class="btn btn-sm"> <i class="glyphicon  glyphicon-plus"></i> Create New markup</a>


<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
    </tr>
    #foreach ($m in $markups)
        <tr>
            <td>$m.id</td>
            <td>$!m.name</td>
            <td><a href="$urlResolver.markupEdit($m)" role="button" class="btn btn-xs btn-default"> <i class="glyphicon  glyphicon-pencil"></i>
            </a></td>
        </tr>
    #end
</table>


#parse("/admin/footer.vm")