#parse("/admin/header.vm")

<h3>SlidesJS Section</h3>

<form class="form-horizontal" method="POST" enctype="multipart/form-data">

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>

        <div class="col-lg-8">
            #springFormInput("section.name", "class='input-xlarge'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Visible</label>

        <div class="col-lg-8">
            #springFormCheckbox("section.visible")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Upload</label>

        <div class="col-lg-8">
            <input type="file" name="upload"/>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>

</form>

<ul class="thumbnails">
    #foreach ($filename in $section.images)
        <li class="span2">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" src="/images/$filename?width=200&height=160">
                <a class="btn btn-xs btn-default" href="/images/$filename">
                    <i class="glyphicon  glyphicon-eyeball glyphicon  glyphicon-white"></i> View Original</a>
                <a class="btn btn-danger btn-xs" href="/backoffice/plugin/slidesjs/$section.id/delete/$filename">
                    <i class="glyphicon  glyphicon-trash glyphicon  glyphicon-white"></i> Remove</a>
            </div>
        </li>
    #end
</ul>

#parse("/admin/footer.vm")