#parse("/admin/header.vm")


<h3>Listings</h3>


<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-2 control-label">Packages Page Text</label>

        <div class="col-lg-8">
            #springFormTextarea("plugin.packagesPageText")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Folders Page Text</label>

        <div class="col-lg-8">
            #springFormTextarea("plugin.foldersPageText")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Images Page Text</label>

        <div class="col-lg-8">
            #springFormTextarea("plugin.imagesPageText")
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-default">Cancel</button>
    </div>

</form>


<legend>Packages</legend>
<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
    </tr>
    #foreach ($p in $packages)
        <tr>
            <td>$p.id</td>
            <td>$p.name</td>
            <td><a href="/backoffice/plugin/listings/package/$p.id" role="button" class="btn btn-xs btn-default">
                <i class="glyphicon  glyphicon-pencil"></i> </a>
            </td>
        </tr>
    #end
</table>

<a href="/backoffice/plugin/listings/package/create" role="button" class="btn btn-xs btn-default"> <i class="glyphicon  glyphicon-plus"></i>
    Create
    Package</a>


#parse("/admin/footer.vm")