#parse("/admin/header.vm")


<h3>Edit $form.o.objectType.name: $form.o.name</h3>
<h6>ID: $form.o.id &nbsp; Created: $datetool.format($form.o.dateCreated)</h6>

<form class="form-horizontal" method="POST" enctype="multipart/form-data">

<div class="tabbable">
<ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Details</a></li>
    <li><a href="#tab2" data-toggle="tab">Metadata</a></li>
    <li><a href="#tab3" data-toggle="tab">Attributes</a></li>
    <li><a href="#tab4" data-toggle="tab">Content</a></li>
    <li><a href="#tab5" data-toggle="tab">Images</a></li>
    <li><a href="#tab6" data-toggle="tab">Sections</a></li>
    <li><a href="#tab7" data-toggle="tab">Associations</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab1">

    <div class=" control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormInput("form.o.name", "class='input-xxlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Status</label>

        <div class="controls">
            #springFormSingleSelect("form.o.status", $statuses)
        </div>
    </div>

    #foreach ($folderId in $form.folderIds)
        <div class="control-group">
            <label class="control-label">Folder</label>

            <div class="controls">
                <select id="folderIds" name="folderIds" class="input-xxlarge">
                    #foreach($option in $foldersMap.keySet())
                        <option value="${option}"
                            #if("$folderId" == "$option")
                                selected="selected"
                            #end>
                            ${foldersMap.get($option)}</option>
                    #end
                </select>
            </div>
        </div>
    #end

    <div class="control-group">
        <label class="control-label">Reference</label>

        <div class="controls">
            #springFormInput("form.o.exernalReference", "class='input-xlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Tags</label>

        <div class="controls">
            #springFormInput("form.o.labels", "data-provide='tag'")
        </div>
    </div>


    <div class="control-group">
        <label class="control-label">Prioritized</label>

        <div class="controls">
            #springFormCheckbox("form.o.prioritized", "")
        </div>
    </div>

    #if ($form.o.objectType.prices)

        <div class="control-group">
            <label class="control-label">Price</label>

            <div class="controls">
                #springFormInput("form.sellPrice", "class='input-small'")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Cost Price</label>

            <div class="controls">
                #springFormInput("form.costPrice", "class='input-small'")
            </div>
        </div>

        #if ($installation.vatEnabled())

            <div class="control-group">
                <label class="control-label">Vat Rate</label>

                <div class="controls">
                    #springFormInput("form.o.vatRate", "class='input-small'")
                </div>
            </div>

        #end

        <div class="control-group">
            <label class="control-label">RRP</label>

            <div class="controls">
                #springFormInput("form.rrp", "class='input-small'")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Stock Level</label>

            <div class="controls">
                #springFormInput("form.o.stock", "class='input-small'")
            </div>
        </div>
    #end

    <div class="control-group">
        <label class="control-label">Change Password</label>

        <div class="controls">
            #springFormInput("form.changePassword")
        </div>
    </div>


</div>
<div class="tab-pane" id="tab2">

    <div class="control-group">
        <label class="control-label">Title Tag</label>

        <div class="controls">
            #springFormInput("form.o.titleTag", "class='input-xxlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Description Tag</label>

        <div class="controls">
            #springFormInput("form.o.descriptionTag", "class='input-xxlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Keywords Tag</label>

        <div class="controls">
            #springFormInput("form.o.keywordsTag", "class='input-xxlarge'")
        </div>
    </div>

</div>
<div class="tab-pane" id="tab3">


    #foreach ($attributeWithValues in $attributesWithValues)

        #set($a = $attributeWithValues.productElement(0))
        #set($values = $attributeWithValues.productElement(1))

        <div class="control-group">
            <label class="control-label">$a.name ($a.id)
                <a href="/backoffice/attribute/$a.id" class="btn btn-mini">
                    <i class="icon-pencil"></i></a>
            </label>

            <div class="controls">

                #if ($a.attributeType == "Text" || $a.attributeType == "Link" || $a.attributeType == "Email" )

                    #foreach ($value in $values)
                        <input type="text" name="attributeValues$a.id" value="$esc.html($value)" class="input-xxlarge"/><br/>
                    #end

                #elseif ($a.attributeType == "Postcode" || $a.attributeType == "Numerical")
                    #foreach ($value in $values)
                        <input type="text" name="attributeValues$a.id" value="$esc.html($value)"
                               class="input-small"/><br/>
                    #end

                #elseif ($a.attributeType == "TextArea")

                    #foreach ($value in $values)
                        <textarea name="attributeValues$a.id"
                                  class="input-block-level">$esc.html($value)</textarea><br/>
                    #end

                #elseif ($a.attributeType == "Date" ||$a.attributeType == "DateTime")
                    #foreach ($value in $values)
                        <div class="input-append date datepicker"
                             value="$!datetool.format("dd-MM-yyyy", $value)"
                             data-date-format="dd-mm-yyyy">
                            <input size="16" type="text" name="attributeValues$a.id"
                                   value="$!datetool.format("dd-MM-yyyy", $value)"/>
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    #end

                #elseif ($a.attributeType == "Selection")

                    #if ($a.multipleValues)

                        #foreach ($option in $a.orderedOptions())
                            #if($values.contains($option.value))
                                #set ($checked = "checked='true'")
                            #else
                                #set ($checked="")
                            #end

                            <label class="checkbox inline">
                                <input type="checkbox" name="attributeValues$a.id"
                                       value="$esc.html($option.value)" $!checked/>
                                $option.value
                            </label>
                        #end

                    #else

                        <select name="attributeValues$a.id" class="input-xlarge">
                            #if ($a.optional)
                                <option value="">-None-</option>#end
                            #foreach ($option in $a.orderedOptions())
                                #if($values.contains($option.value))
                                    #set ($selected = "selected='true'")
                                #else
                                    #set ($selected="")
                                #end
                                <option $selected>$esc.html($option.value)</option>
                            #end
                        </select>

                    #end

                #elseif ($a.attributeType == "Boolean")
                    <select name="attributeValues$a.id" class="input-medium">
                        <option #if($values.contains("Yes")|| $values.contains("yes")) selected='true' #end>Yes</option>
                        <option #if($values.contains("No") || $values.contains("no")) selected='true' #end>No</option>
                    </select>
                #end

            </div>
        </div>
    #end

</div>
<div class="tab-pane" id="tab4">
    #springFormTextarea("form.o.content", "rows='48' class='input-block-level tinymce'")
</div>
<div class="tab-pane" id="tab5">

    <legend>Images</legend>
    <table class="table table-bordered table-condensed table-striped table-hover">
        <tr>
            <th>Image</th>
            <th>Filename</th>
            <th>Content Type</th>
            <th></th>
        </tr>

        #foreach ($a in $assets)
            <tr>
                <td>
                    <ul class="thumbnails">
                        <li class="span6">
                            <div class="thumbnail"><img
                                    src="/images/$a.filename()?width=128&height=128"/></div>
                        </li>
                    </ul>
                </td>
                <td>$a.filename()</td>
                <td>$a.contentType()</td>
                <td>
                    <a href="/backoffice/object/$form.o.id/image/$a.filename()/remove"
                       class="btn btn-danger">
                        <i class="icon-trash icon-white"></i></a></td>
            </tr>
        #end
    </table>


    Image Upload: <input type="file" name="upload"/>

</div>


<div class="tab-pane" id="tab6">


    <legend>Sections</legend>
    <table class="table table-condensed table-hover" id="sections-table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        #foreach ($s in $sections)
            <tr data-section-id="$s.id" class="section-row">
                <td>$!s.name()</td>
                <td>$s.desc()</td>
                <td>
                    <a href="$s.backoffice()" role="button" class="btn btn-mini">
                        <i class="icon-pencil"></i></a>

                    <a href="/backoffice/obj/$form.o.id/section/$s.id/delete" role="button"
                       class="btn btn-mini btn-danger">
                        <i class="icon-trash icon-white"></i></a>
                </td>
            </tr>
        #end
    </table>


</div>


<div class="tab-pane" id="tab7">

    <legend>Associations</legend>
    <table class="table table-condensed table-hover" id="sections-table">
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Title</th>
            <th></th>
        </tr>
        #foreach ($a in $form.o.associations)
            <tr data-section-id="$a.id" class="section-row">
                <td>$a.id</td>
                <td>$a.objectType.name</td>
                <td><a href="/backoffice/obj/$a.id">$a.name</a></td>
                <td><a href="/backoffice/obj/$form.o.id/association/$a.id/delete" role="button"
                       class="btn btn-mini btn-danger">
                    <i class="icon-trash icon-white"></i></a>
                </td>
            </tr>
        #end

    </table>

    <input type="hidden" id="add-association-id" name="associatedObjectId"/>
    <input type="text" class="input-xlarge" id="add-association-typeahead" value=""/>
    <script>
        autosep = ":";
        $('#add-association-typeahead').typeahead({
            source: function (query, process) {
                return $.ajax({
                    url: "/rest/obj",
                    type: 'GET',
                    data: {q: query},
                    dataType: 'json',
                    success: function (json) {
                        var arr = [];
                        for (var i in json) {
                            arr.push(json[i][0] + autosep + json[i][1]);
                        }
                        process(arr);
                    }
                });
            }, highlighter: function (item) {
                var parts = item.split(autosep);
                parts.shift();
                return parts.join(autosep);
            }, updater: function (item) {
                var parts = item.split(autosep);
                var id = parts.shift();
                $('#add-association-id').val(id);
                return parts.join(autosep);
            }
        })
    </script>
    <button type="submit" class="btn btn-small">Add Association</button>

</div>
</div>
</div>


<div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Save changes</button>
    &nbsp;
    <a href="/backoffice/obj?typeId=$form.o.objectType.id" class="btn btn-info"><i class="icon-arrow-left"></i> Return to list</a>
    &nbsp;
    <a href="/backoffice/obj/$form.o.id/clone" class="btn btn-inverse"><i class="icon-copy"></i> Copy Object</a>
</div>

</form>


<form method="POST" action="/backoffice/obj/$form.o.id/section/create" class="form-inline">
    <label>Add Section:</label>
    <select name="class">
        #foreach($class in $classes.keySet())
            <option value="${class}">${classes.get($class)}</option>
        #end
    </select>
    <button class="btn btn-success" type="submit"><i class="icon-white icon-plus-sign"></i> Add</button>
</form>


<script>

    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-tabs a[href=#' + url.split('#')[1] + ']').tab('show');
    }

    // Change hash for page-reload
    $('.nav-tabs a').on('shown', function (e) {
        window.location.hash = e.target.hash;
    })

</script>


#parse("/admin/footer.vm")