#parse("/admin/header.vm")


<h3>Edit $form.o.objectType.name: $form.o.name</h3>

<form class="form-horizontal" method="POST" enctype="multipart/form-data">

<div class="tabbable">
<ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Details</a></li>
    <li><a href="#tab2" data-toggle="tab">Metadata</a></li>
    <li><a href="#tab3" data-toggle="tab">Attributes</a></li>
    <li><a href="#tab4" data-toggle="tab">Content</a></li>
    <li><a href="#tab5" data-toggle="tab">Images</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab1">

    <div class=" control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormInput("form.o.name", "class='input-xxlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Status</label>

        <div class="controls">
            #springFormSingleSelect("form.o.status", $statuses)
        </div>
    </div>

    #foreach ($folderId in $form.folderIds)
        <div class="control-group">
            <label class="control-label">Folder</label>

            <div class="controls">
                <select id="folderIds" name="folderIds" class="input-xxlarge">
                    #foreach($option in $foldersMap.keySet())
                        <option value="${option}"
                            #if("$folderId" == "$option")
                                selected="selected"
                            #end>
                            ${foldersMap.get($option)}</option>
                    #end
                </select>
            </div>
        </div>
    #end

    <div class="control-group">
        <label class="control-label">Reference</label>

        <div class="controls">
            #springFormInput("form.o.exernalReference", "class='input-xlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Labels</label>

        <div class="controls">
            #springFormInput("form.o.labels", "class='input-xxlarge'")
        </div>
    </div>


    #if ($form.o.objectType.name.toLowerCase().contains("product"))

        <div class="control-group">
            <label class="control-label">Price</label>

            <div class="controls">
                #springFormInput("form.sellPrice", "class='input-small'")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Cost Price</label>

            <div class="controls">
                #springFormInput("form.costPrice", "class='input-small'")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Vat Rate</label>

            <div class="controls">
                #springFormInput("form.o.vatRate", "class='input-small'")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">RRP</label>

            <div class="controls">
                #springFormInput("form.rrp", "class='input-small'")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Stock Level</label>

            <div class="controls">
                #springFormInput("form.o.stock", "class='input-small'")
            </div>
        </div>
    #end

    <div class="control-group">
        <label class="control-label">Change Password</label>

        <div class="controls">
            #springFormInput("form.changePassword")
        </div>
    </div>


</div>
<div class="tab-pane" id="tab2">

    <div class="control-group">
        <label class="control-label">Title Tag</label>

        <div class="controls">
            #springFormInput("form.o.titleTag", "class='input-xxlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Description Tag</label>

        <div class="controls">
            #springFormInput("form.o.descriptionTag", "class='input-xxlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Keywords Tag</label>

        <div class="controls">
            #springFormInput("form.o.keywordsTag", "class='input-xxlarge'")
        </div>
    </div>

</div>
<div class="tab-pane" id="tab3">


    #foreach ($attributeWithValues in $attributesWithValues)

        #set($a = $attributeWithValues.productElement(0))
        #set($values = $attributeWithValues.productElement(1))

        <div class="control-group">
            <label class="control-label">$a.name ($a.id)</label>

            <div class="controls">

                #if ($a.attributeType == "Text" || $a.attributeType == "Link" || $a.attributeType == "Email" )

                    #foreach ($value in $values)
                        <input type="text" name="attributeValues$a.id" value="$esc.html($value)" class="input-xxlarge"/><br/>
                    #end

                #elseif ($a.attributeType == "Postcode" || $a.attributeType == "Numerical")
                    #foreach ($value in $values)
                        <input type="text" name="attributeValues$a.id" value="$esc.html($value)"
                               class="input-small"/><br/>
                    #end

                #elseif ($a.attributeType == "Date" ||$a.attributeType == "DateTime")
                    #foreach ($value in $values)
                        <div class="input-append date datepicker" value="$value"
                             data-date-format="dd-mm-yyyy">
                            <input size="16" type="text" name="attributeValues$a.id" value="$value"/>
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    #end

                #elseif ($a.attributeType == "Selection")

                    #if ($a.multipleValues)

                        #foreach ($option in $a.options)
                            #if($values.contains($option.value))
                                #set ($checked = "checked='true'")
                            #else
                                #set ($checked="")
                            #end

                            <label class="checkbox inline">
                                <input type="checkbox" name="attributeValues$a.id" value="$option.value" $!checked/>
                                $option.value
                            </label>
                        #end

                    #else

                        <select name="attributeValues$a.id" class="input-xlarge">
                            #foreach ($option in $a.options)
                                #if($values.contains($option.value))
                                    #set ($selected = "selected='true'")
                                #else
                                    #set ($selected="")
                                #end
                                <option $selected>$option.value</option>
                            #end
                        </select>

                    #end

                #elseif ($a.attributeType == "Boolean")
                    <select name="attributeValues$a.id" class="input-small">
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                #end

            </div>
        </div>
    #end

</div>
<div class="tab-pane" id="tab4">

    #springFormTextarea("form.o.content", "rows='48' class='input-block-level tinymce'")

</div>
<div class="tab-pane" id="tab5">

    <legend>Images</legend>
    <table class="table table-bordered table-condensed table-striped table-hover">
        <tr>
            <th>Image</th>
            <th>Filename</th>
            <th>Content Type</th>
            <th></th>
        </tr>

        #foreach ($a in $assets)
            <tr>
                <td>
                    <ul class="thumbnails">
                        <li class="span6">
                            <div class="thumbnail"><img
                                    src="/images/$a.filename()?width=128&height=128"/></div>
                        </li>
                    </ul>
                </td>
                <td>$a.filename()</td>
                <td>$a.contentType()</td>
                <td>
                    <a href="/backoffice/object/$form.o.id/image/$a.filename()/remove"
                       class="btn btn-danger">
                        <i class="icon-trash icon-white"></i></a></td>
            </tr>
        #end
    </table>


    Image Upload: <input type="file" name="upload"/>

</div>
</div>
</div>


<div class="form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <button type="button" class="btn">Cancel</button>
</div>

</form>



#parse("/admin/footer.vm")