#parse("/admin/header.vm")

<div id="create-object-modal" class="modal hide">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Create $type.name</h3>
    </div>
    <form method="GET" action="/backoffice/obj/create" class="form-horizontal">
        <input type="hidden" name="typeId" value="$type.id"/>

        <div class="modal-body">

            <div class="control-group">
                <label class="control-label" for="new-object-name">Name</label>

                <div class="controls">
                    <input type="text" id="new-object-name" name="name" placeholder="New $type.name Name">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </form>
</div>


<div class="modal hide" role="dialog" id="import-modal">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
        <h3>Import CSV</h3>
    </div>
    <form enctype="multipart/form-data" method="POST" action="/backoffice/obj/import?typeId=$type.id" class="form-horizontal">
        <div class="modal-body">
            <p>
                Select file to upload
            </p>
            <input type="file" name="upload"/>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Upload</button>
            <button class="btn" aria-hidden="true" data-dismiss="modal">Close</button>
        </div>
    </form>

</div>


<h3>$type.name</h3>


<form method="GET" class="form-horizontal">
    <input type="hidden" name="typeId" value="$type.id"/>

    <div class="control-group">
        <label class="control-label" for="name">Name</label>

        <div class="controls">
            #springFormInput("form.name")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputEmail">Status</label>

        <div class="controls">
            #springFormSingleSelect("form.status", $objectStatusMap)
        </div>
    </div>

    <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
    <a href="#create-object-modal" role="button" class="btn" data-toggle="modal"><i class="icon-plus-sign"></i> Create  $type.name</a>


</form>


#paging($paging)

<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Date Created</th>
        <th></th>
    </tr>
    #foreach ($o in $objects)
        <tr>
            <td><a href="$urlResolver.objectEdit($o)">$o.id</a></td>
            <td>$o.name</td>
            <td>$!o.status</td>
            <td>$!datetool.format($o.dateCreated)</td>
            <td>
                <a href="$urlResolver.objectEdit($o)" role="button" class="btn btn-xs"> <i
                        class="icon-pencil"></i></a>
                <a href="$urlResolver.objectSiteView($o)" role="button" class="btn btn-xs"> <i
                        class="icon-eye-open"></i></a>
            </td>
        </tr>
    #end
</table>

#paging($paging)


<a href="#create-object-modal" role="button" class="btn" data-toggle="modal"><i class="icon-plus-sign"></i> Create  $type.name</a>
<a href="/backoffice/type/$type.id/export/csv" role="button" class="btn btn-inverse"> <i class="icon-download"></i> Export
    as CSV</a>
<a href="#import-modal" role='button' class="btn btn-inverse" data-toggle="modal"> <i class="icon-upload"></i> Import CSV</a>





#parse("/admin/footer.vm")