<div class="panel panel-default">
    <div class="panel-body">
        <button type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-save"></i> Save changes
        </button>

      #if ($section.folder)
          <a href="/backoffice/folder/$section.folder.id#tab3" class="btn btn-default">
              <i class="glyphicon glyphicon-arrow-left"></i> Return
          </a>
      #end
      #if ($section.item)
          <a href="/backoffice/item/$section.item.id#tab3" class="btn btn-default">
              <i class="glyphicon glyphicon-arrow-left"></i> Return
          </a>
      #end
    </div>
</div>