<div class="form-group">
    <label class="col-lg-2 control-label">Name</label>

    <div class="col-lg-8">
        #springFormInput("section.name", "class='input-xlarge'")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Visible</label>

    <div class="col-lg-8">
        #springFormCheckbox("section.visible")
    </div>
</div>