#parse("/admin/header.vm")


<h1>Edit Section</h1>

<form class="form-horizontal" method="POST">

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormInput("section.name", "class='input-xlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Visible</label>

        <div class="controls">
            #springFormCheckbox("section.visible")
        </div>
    </div>

    #if ($markupable == "true")
        <div class="control-group">
            <label class="control-label">Markup</label>
            <div class="controls">
                <select id="markup" name="markup">
                    #foreach($option in $markupMap.keySet())
                        <option value="${option}"
                            #if("$!section.markup.id" == "$option")
                                selected="selected"
                            #end>
                            ${markupMap.get($option)}</option>
                    #end
                </select>
            </div>
        </div>
    #end

    #if ($contentable == "true")
        <div class="control-group">
            <label class="control-label">Content</label>

            <div class="controls">
                #springFormTextarea("section.content", "rows='16' class='input-block-level htmleditor'")
            </div>
        </div>
    #end

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn">Cancel</button>
    </div>

</form>

#parse("/admin/footer.vm")