#parse("/admin/header.vm")


<h3>Edit Saved Search</h3>

<form class="form-horizontal" method="POST">

    <div class="control-group">
        <label class="control-label">Name search</label>

        <div class="controls">
            #springFormInput("search.name")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Keywords search</label>

        <div class="controls">
            #springFormInput("search.keywords")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Labels search</label>

        <div class="controls">
            #springFormInput("search.labels")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Max Results</label>

        <div class="controls">
            #springFormInput("search.maxResults")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Search in folder</label>

        <div class="controls">
            #springFormInput("search.searchFolder", "class='input-small'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Sort</label>

        <div class="controls">
            <select id="sort" name="sort">
                #foreach($option in $sortMap.keySet())
                    <option value="${option}"
                        #if("$!search.sort.id" == "$option")
                            selected="selected"
                        #end>
                        ${sortMap.get($option)}</option>
                #end
            </select>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="/backoffice/savedsearch" class="btn">Return</a>
    </div>

</form>


#parse("/admin/footer.vm")