#parse("/admin/header.vm")


<h3>Edit Saved Search</h3>

<form class="form-horizontal" method="POST">

<div class="form-group">
    <label class="col-lg-2 control-label">Name search</label>

    <div class="col-lg-8">
      #springFormInput("search.name")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Object Type</label>

    <div class="col-lg-8">
        <select id="objectType" name="objectType">
          #foreach($option in $objectTypesMap.keySet())
              <option value="${option}"
                #if("$!search.objectType.id" == "$option")
                      selected="selected"
                #end>
                ${objectTypesMap.get($option)}</option>
          #end
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Keywords search</label>

    <div class="col-lg-8">
      #springFormInput("search.keywords")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Labels search</label>

    <div class="col-lg-8">
      #springFormInput("search.labels")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Max Results</label>

    <div class="col-lg-8">
      #springFormInput("search.maxResults")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Search in folder</label>

    <div class="col-lg-8">
      #springFormInput("search.searchFolders", "class='input-sm'")
    </div>
</div>


<div class="form-group">
    <label class="col-lg-2 control-label">Images Only</label>

    <div class="col-lg-8">
      #springFormCheckbox("search.imageOnly", "")
    </div>
</div>

<div class="form-group">
    <label class="col-lg-2 control-label">Sort</label>

    <div class="col-lg-8">
        <select id="sortType" name="sortType">
          #foreach($option in $sortMap.keySet())
              <option value="${option}"
                #if("$!search.sortType" == "$option") selected="selected" #end>
                ${sortMap.get($option)}
              </option>
          #end
        </select>
    </div>
</div>


  #if ($search.sortType == "Attribute" || $search.sortType == "AttributeDesc")
  <div class="form-group">
      <label class="col-lg-2 control-label">Sort Attribute</label>

      <div class="col-lg-8">
          <select id="sortAttribute" name="sortAttribute">
            #foreach($option in $attributesMap.keySet())
                <option value="${option}"
                  #if("$!search.sortAttribute.id" == "$option") selected="selected" #end>
                  ${attributesMap.get($option)}
                </option>
            #end
          </select>
      </div>
  </div>
  #end


<div class="form-group">
    <label class="col-lg-2 control-label">Ignore Past</label>

    <div class="col-lg-8">
        <select id="ignorePast" name="ignorePast">
          #foreach($option in $attributesMap.keySet())
              <option value="${option}"
                #if("$!search.ignorePast.id" == "$option") selected="selected" #end>
                ${attributesMap.get($option)}
              </option>
          #end
        </select>
    </div>
</div>


  #foreach ($attributeWithValues in $attributesWithValues)

    #set($a = $attributeWithValues.productElement(0))
    #set($values = $attributeWithValues.productElement(1))

  <div class="form-group">
      <label class="col-lg-2 control-label">$a.name ($a.id)</label>

      <div class="col-lg-8">

        #if ($a.attributeType == "Text" || $a.attributeType == "Link" || $a.attributeType == "Email" )

          #foreach ($value in $values)
              <input type="text" name="attributeValues$a.id" value="$esc.html($value)" class="input-xxlarge"/><br/>
          #end

        #elseif ($a.attributeType == "Postcode" || $a.attributeType == "Numerical")
          #foreach ($value in $values)
              <input type="text" name="attributeValues$a.id" value="$esc.html($value)"
                     class="input-sm"/><br/>
          #end

        #elseif ($a.attributeType == "Date" ||$a.attributeType == "DateTime")
          #foreach ($value in $values)
              <div class="input-append date datepicker"
                   value="$!datetool.format("dd-MM-yyyy", $value)"
                   data-date-format="dd-mm-yyyy">
                  <input size="16" type="text" name="attributeValues$a.id"
                         value="$!datetool.format("dd-MM-yyyy", $value)"/>
                  <span class="add-on"><i class="glyphicon  glyphicon-th"></i></span>
              </div>
          #end

        #elseif ($a.attributeType == "Selection")

          #if ($a.multipleValues)

            #foreach ($option in $a.orderedOptions())
              #if($values.contains($option.value))
                #set ($checked = "checked='true'")
              #else
                #set ($checked="")
              #end

                <label class="checkbox inline">
                    <input type="checkbox" name="attributeValues$a.id"
                           value="$esc.html($option.value)" $!checked/>
                  $option.value
                </label>
            #end

          #else

              <select name="attributeValues$a.id" class="input-xlarge">
                  <option value="">-None-</option>
                #foreach ($option in $a.orderedOptions())
                  #if($values.contains($option.value))
                    #set ($selected = "selected='true'")
                  #else
                    #set ($selected="")
                  #end
                    <option $selected>$esc.html($option.value)</option>
                #end
              </select>

          #end

        #elseif ($a.attributeType == "Boolean")
            <select name="attributeValues$a.id" class="input-medium">
                <option value="">-Not Specified-</option>
                <option #if($values.contains("Yes")|| $values.contains("yes")) selected='true' #end>Yes</option>
                <option #if($values.contains("No") || $values.contains("no")) selected='true' #end>No</option>
            </select>
        #end

      </div>
  </div>
  #end



<div class="form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <a href="/backoffice/savedsearch" class="btn btn-default">Return</a>
</div>

</form>


#parse("/admin/footer.vm")