#parse("/admin/header.vm")

<h3>Variations</h3>


<legend>Existing Variations</legend>
<form class="form-horizontal" method="POST" action="/backoffice/plugin/variations?objectId=$obj.id">
    <table class="table table-condensed table-hover">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th></th>
        </tr>
      #foreach ($v in $variations)
          <tr>
              <td>$v.name()</td>
              <td><input type="text" name="price_$v.id" class="input-sm" value="$v.price"></td>
              <td><input type="text" name="stock_$v.id" class="input-sm" value="$v.stock"></td>
              <td><a href="/backoffice/plugin/variations/$v.id/delete" class="btn btn-sm btn-danger">
                  <i class="glyphicon  glyphicon-trash"></i></a></td>
          </tr>
      #end
    </table>

    <div class="form-actions">
        <button type="submit" class="btn btn-inverse">Update variations</button>
    </div>
</form>

<legend>Add Variations</legend>
<form class="form-horizontal" method="POST" action="/backoffice/plugin/variations/add?objectId=$obj.id">
    <table class="table table-condensed table-hover">
      #foreach ($d in $dimensions)
          <tr>
              <td>$d.name</td>
              <td><input type="text" name="dimension_$d.id" class="input-xxlarge"/></td>
          </tr>
      #end
    </table>

    <div class="form-actions">
        <button type="submit" class="btn btn-inverse">Add Variations</button>
    </div>

</form>

<div class="form-actions">
    <a href="/backoffice/obj/$obj.id" class="btn btn-default">Return to $obj.name</a>
</div>


#parse("/admin/footer.vm")