#parse("/admin/header.vm")


<h3>Edit Section</h3>

<form class="form-horizontal" method="POST">

    #parse("/admin/section/common.vm")

    <div class="control-group">
        <label class="control-label">Postcode</label>

        <div class="controls">
            #springFormInput("section.postcode", "class='input-sm'")
        </div>
    </div>

    #parse("/admin/section/actions.vm")

</form>

#parse("/admin/footer.vm")