#parse("/admin/header.vm")


<h3>Edit Section</h3>

<form class="form-horizontal" method="POST">

    #parse("/admin/section/common.vm")

    <div class="control-group">
        <label class="control-label">Shortcode</label>

        <div class="controls">
            #springFormInput("section.shortcode", "")
        </div>
    </div>

    #parse("/admin/section/actions.vm")

</form>

#parse("/admin/footer.vm")