#parse("/admin/header.vm")

<div class="page-header">
    <h2>Search Form Widget</h2>
</div>


<form class="form-horizontal" method="POST">

  #parse("/admin/widget/common.vm")

    <div class="form-group">
        <label class="col-lg-2 control-label">Search Form</label>

        <div class="col-lg-8">
            Edit Embedded Search Form <a href="/backoffice/searchform/$widget.searchForm.id"
                                         class="btn btn-xs btn-default">
            <i class="glyphicon glyphicon-pencil"></i></a>
        </div>
    </div>

  #parse("/admin/widget/buttons.vm")

</form>

#parse("/admin/footer.vm")