#parse("/admin/header.vm")


<h3>Edit Folders Widget</h3>


<form class="form-horizontal" method="POST">

  #parse("/admin/widget/common.vm")

    <div class="form-group">
        <label class="col-lg-2 control-label">Depth</label>

        <div class="col-lg-8">
          #springFormInput("widget.depth", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Start folder</label>

        <div class="col-lg-8">
            <select id="start" name="start" class="form-control">
              #foreach($option in $foldersMap.keySet())
                  <option value="${option}"
                    #if("$widget.start.id" == "$option")
                          selected="selected"
                    #end>
                    ${foldersMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Include Home Page</label>

        <div class="col-lg-8">
          #springFormCheckbox("widget.includeHome")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Exclude Current Folder</label>

        <div class="col-lg-8">
          #springFormCheckbox("widget.excludeCurrent")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Exclusions</label>

        <div class="col-lg-8">
          #springFormTextarea("widget.exclusions", "class='form-control'")
        </div>
    </div>

  #parse("/admin/widget/buttons.vm")

</form>

#parse("/admin/footer.vm")