<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>

    <security:http auto-config="true" access-denied-page="/error/noaccess">
        <security:intercept-url pattern="/backoffice/login" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMIN"/>
        <security:intercept-url pattern="/backoffice/**" access="ROLE_ADMIN"/>
        <security:intercept-url pattern="/account/**" access="ROLE_USER,ROLE_ADMIN"/>
        <security:intercept-url pattern="/listing/package" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMIN"/>
        <security:intercept-url pattern="/listing/**" access="ROLE_USER,ROLE_ADMIN"/>
        <security:intercept-url pattern="/favicon.ico" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMIN"/>
        <security:form-login login-page="/login" authentication-success-handler-ref="loginSuccessHandler"
                             authentication-failure-url="/login?login_error=1"/>
    </security:http>

    <security:authentication-manager alias="authman">
        <!--  <security:authentication-provider ref="autoIPAuthenticationProvider"/> -->
        <security:authentication-provider user-service-ref="adminUserDetailsService">
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
        <security:authentication-provider user-service-ref="accountUserDetailsService">
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>