#parse("/admin/header.vm")


<div class="page-header">
    <h2>$form.account.AccountType.name: $form.account.name</h2>
    <h5>ID: $form.account.id &nbsp; Created: $datetool.format($form.account.dateCreated)</h5>
</div>

<form class="form-horizontal" method="POST" enctype="multipart/form-data">

    <div class="tab-pane active" id="tab1">

        <div class="form-group">
            <label class="col-lg-2 control-label">Name</label>

            <div class="col-lg-8">
              #springFormInput("form.account.name", "class='form-control'")
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>

            <div class="col-lg-8">
              #springFormInput("form.account.email", "class='form-control'")
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Status</label>

            <div class="col-lg-8">
              #springFormSingleSelect("form.account.status", $accountStatusMap, "class='form-control'")
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Change Password</label>

            <div class="col-lg-8">
              #springFormInput("form.changePassword", "class='form-control'")
            </div>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon  glyphicon-save"></i> Save changes
            </button>
            <a href="/backoffice/account?accountTypeId=${form.account.accountType.id}" class="btn btn-default">
                <i class="glyphicon glyphicon-arrow-left"></i> Return to list</a>
        </div>
    </div>

</form>

#if ($orders.size() > 0)
<h4>Orders</h4>
<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Date Placed</th>
        <th>Status</th>
        <th>Total</th>
        <th></th>
    </tr>
  #foreach ($order in $orders)
      <tr>
          <td><a href="/backoffice/order/$order.id">$order.id</a></td>
          <td>$!datetool.format($order.datePlaced)</td>
          <td>$order.status()</td>
          <td>$order.total()</td>
          <td>
              <a href="/backoffice/order/$order.id" role="button" class="btn btn-xs btn-default">
                  <i class="glyphicon  glyphicon-pencil"></i></a>
          </td>
      </tr>
  #end
</table>
#end


#if ($addresses.size() > 0)
<h4>Addresses</h4>
<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Date Placed</th>
        <th>Status</th>
        <th>Total</th>
        <th></th>
    </tr>
  #foreach ($order in $orders)
      <tr>
          <td><a href="/backoffice/order/$order.id">$order.id</a></td>
          <td>$!datetool.format($order.datePlaced)</td>
          <td>$order.status()</td>
          <td>$order.total()</td>
          <td>
              <a href="/backoffice/order/$order.id" role="button" class="btn btn-xs btn-default">
                  <i class="glyphicon  glyphicon-pencil"></i></a>
          </td>
      </tr>
  #end
</table>
#end

#parse("/admin/footer.vm")