#parse("/admin/header.vm")


<h3>Edit $form.account.AccountType.name: $form.account.name</h3>
<h6>ID: $form.account.id &nbsp; Created: $datetool.format($form.account.dateCreated)</h6>

<form class="form-horizontal" method="POST" enctype="multipart/form-data">

    <div class="tab-pane active" id="tab1">

        <div class=" control-group">
            <label class="control-label">Name</label>

            <div class="controls">
              #springFormInput("form.account.name", "class='input-xxlarge'")
            </div>
        </div>

        <div class=" control-group">
            <label class="control-label">Email</label>

            <div class="controls">
              #springFormInput("form.account.email", "class='input-xxlarge'")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Status</label>

            <div class="controls">
              #springFormSingleSelect("form.account.status", $accountStatusMap, "")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Change Password</label>

            <div class="controls">
              #springFormInput("form.changePassword")
            </div>
        </div>

    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Save changes</button>
        &nbsp;
        <a href="/backoffice/account?accountTypeId=${form.account.accountType.id}" class="btn btn-info">
            <i class="icon-arrow-left"></i> Return to list</a>
    </div>

</form>



#parse("/admin/footer.vm")