#parse("/admin/header.vm")

<div id="create-account-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Create $accountType.name</h3>
            </div>
            <form method="GET" action="/backoffice/account/create" class="form-horizontal">
                <input type="hidden" name="accountTypeId" value="$accountType.id"/>

                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="new-account-name">Name</label>

                        <div class="col-lg-8">
                            <input type="text" id="new-account-name" name="name" class="form-control"
                                   placeholder="New $accountType.name Name">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="page-header">
    <h2>$accountType.name</h2>
</div>

<form method="GET" class="form-horizontal">
    <input type="hidden" name="accountTypeId" value="$accountType.id"/>

    <div class="form-group">
        <label class="col-lg-2 control-label" for="name">Name</label>

        <div class="col-lg-8">
          #springFormInput("form.name", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label" for="inputEmail">Status</label>

        <div class="col-lg-8">
          #springFormSingleSelect("form.status", $accountStatusMap, "class='form-control'")
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Search
            </button>
            <a href="#create-account-modal" role="button" class="btn btn-default" data-toggle="modal">
                <i class="glyphicon  glyphicon-plus-sign"></i> Create  $accountType.name</a>
        </div>
    </div>

</form>


#paging($paging)

<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Date Created</th>
        <th></th>
    </tr>
  #foreach ($account in $accounts)
      <tr>
          <td><a href="/backoffice/account/$account.id">$account.id</a></td>
          <td>$account.name</td>
          <td>$account.status</td>
          <td>$!datetool.format($account.dateCreated)</td>
          <td>
              <a href="/backoffice/account/$account.id" role="button" class="btn btn-xs btn-default">
                  <i class="glyphicon  glyphglyphicon glyphicon-pencil"></i></a>
          </td>
      </tr>
  #end
</table>

#paging($paging)

#parse("/admin/footer.vm")