#parse("/admin/header.vm")

<div class="page-header">
    <h2>Account Plugin Settings</h2>
</div>

<form class="form-horizontal" method="POST">

    <legend>Account Page</legend>

    <div class="form-group">
        <label class="col-lg-2 control-label">Header</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.accountPageHeader", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Footer</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.accountPageFooter", "class='form-control'")
        </div>

    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Markup</label>

        <div class="col-lg-8">
            <select id="accountPageMarkup" name="accountPageMarkup" class='form-control'>
              #foreach($option in $markupMap.keySet())
                  <option value="${option}"
                    #if("$!plugin.accountPageMarkup.id" == "$option")
                          selected="selected"
                    #end>
                    $!{markupMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

    <legend>Login Page</legend>
    <div class="form-group">
        <label class="col-lg-2 control-label">Login Redirect</label>

        <div class="col-lg-8">
          #springFormInput("plugin.loginRedirect", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Header</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.loginPageHeader", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Footer</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.loginPageFooter", "class='form-control'")
        </div>
    </div>

    <legend>Registration Page</legend>
    <div class="form-group">
        <label class="col-lg-2 control-label">Header</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.registrationPageHeader", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Footer</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.registrationPageFooter", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Registration Redirect</label>

        <div class="col-lg-8">
          #springFormInput("plugin.registrationRedirect", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Completion Text</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.registrationCompletionHtml", "class='form-control'")
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </div>

</form>

#parse("/admin/footer.vm")