#parse("/admin/header.vm")


<div class="page-header">
    <h2>Edit: $folder.name</h2>
</div>

<form class="form-horizontal" method="POST">

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Folder Details</a></li>
            <li><a href="#tab2" data-toggle="tab">Metadata</a></li>
            <li><a href="#tab3" data-toggle="tab">Sections</a></li>
            <li><a href="#tab4" data-toggle="tab">Header & Footer</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">

                <div class="form-group">
                    <label class="col-lg-2 control-label">Name</label>

                    <div class="col-lg-8">
                      #springFormInput("folder.name", "class='form-control'")
                    </div>
                </div>

              #if ($folder.id > 1)
                  <div class="form-group">
                      <label class="col-lg-2 control-label">Parent</label>

                      <div class="col-lg-8">
                          <select id="parent" name="parent" class="form-control">
                            #foreach($option in $parents.keySet())
                                <option value="${option}"
                                  #if("$!folder.parent.id" == "$option")
                                        selected="selected"
                                  #end>
                                  ${parents.get($option)}</option>
                            #end
                          </select>
                      </div>
                  </div>
              #end

                <div class="form-group">
                    <label class="col-lg-2 control-label">Hidden</label>

                    <div class="col-lg-8">
                      #springFormCheckbox("folder.hidden", "")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Theme</label>

                    <div class="col-lg-8">
                        <select id="theme" name="theme" class="form-control">
                          #foreach($option in $themesMap.keySet())
                              <option value="${option}"
                                #if("$!folder.theme.id" == "$option")
                                      selected="selected"
                                #end>
                                ${themesMap.get($option)}</option>
                          #end
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Subfolder Ordering</label>

                    <div class="col-lg-8">
                      #springFormSingleSelect("folder.folderOrdering", $folderOrderingMap, "class='form-control'")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Redirect</label>

                    <div class="col-lg-8">
                      #springFormInput("folder.redirect", "class='form-control'")
                    </div>
                </div>


            </div>
            <div class="tab-pane" id="tab2">

                <div class="form-group">
                    <label class="col-lg-2 control-label">Title Tag</label>

                    <div class="col-lg-8">
                      #springFormInput("folder.titleTag", "class='form-control'")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Description Tag</label>

                    <div class="col-lg-8">
                      #springFormInput("folder.descriptionTag", "class='form-control'")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Keywords Tag</label>

                    <div class="col-lg-8">
                      #springFormInput("folder.keywordsTag", "class='form-control'")
                    </div>
                </div>

            </div>

            <div class="tab-pane" id="tab3">

                <table class="table table-condensed table-hover" id="sections-table">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                  #foreach ($s in $sections)
                      <tr data-section-id="$s.id" class="section-row">
                          <td>$!s.name()</td>
                          <td>$s.desc()</td>
                          <td>
                              <a href="$s.backoffice()" role="button" class="btn btn-xs btn-default">
                                  <i class="glyphicon  glyphicon-pencil"></i></a>

                              <a href="$urlResolver.deleteSection($folder, $s)" role="button"
                                 class="btn btn-xs btn-danger">
                                  <i class="glyphicon  glyphicon-trash glyphicon"></i></a>
                          </td>
                      </tr>
                  #end
                </table>

            </div>

            <div class="tab-pane" id="tab4">


                <div class="form-group">
                    <label class="col-lg-2 control-label">Header</label>

                    <div class="col-lg-8">
                      #springFormTextarea("folder.header", "rows='8' class='form-control htmleditor'")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Footer</label>

                    <div class="col-lg-8">
                      #springFormTextarea("folder.footer", "rows='8' class='form-control htmleditor'")
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-save"></i> Save changes
            </button>
          #if ($folder.folderOrdering == "Manual")
              <a href="/backoffice/folder/$folder.id/suborder" class="btn btn-default">
                  Edit Subfolder Order
              </a>
          #end
            <a href="/backoffice/folder" class="btn btn-default">
                <i class="glyphicon glyphicon-arrow-left"></i> Return to list
            </a>
        </div>
    </div>

</form>

<div class="panel panel-default">
    <div class="panel-body">
        <form method="POST" action="/backoffice/folder/$folder.id/section/create" class="form-inline">
            <label>Add Section:</label>
            <select name="class">
              #foreach($class in $classes.keySet())
                  <option value="${class}">${classes.get($class)}</option>
              #end
            </select>
            <button class="btn btn-success" type="submit"><i
                    class="glyphicon  glyphicon-white glyphicon  glyphicon-plus-sign"></i> Add
            </button>
        </form>
    </div>
</div>


<script>
    $(function () {
        $("#sections-table tbody").sortable({

            update: function (event, ui) {
                var order = []
                $("#sections-table tr.section-row").each(function (v) {
                    var id = $(this).attr("data-section-id")
                    order.push(id)
                })

                $.ajax({
                    type: "POST",
                    url: "/backoffice/folder/$folder.id/section/order",
                    contentType: "text/plain",
                    data: order.join('-')
                });
            }
        });
        $("#sections-table tbody").disableSelection();
    });
</script>



#parse("/admin/footer.vm")
