#parse("/admin/header.vm")


<h3>Edit Folder: $folder.name</h3>

<legend>Folder Details</legend>
<form class="form-horizontal" method="POST">

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Folder Details</a></li>
            <li><a href="#tab2" data-toggle="tab">Metadata</a></li>
            <li><a href="#tab3" data-toggle="tab">Sections</a></li>
            <li><a href="#tab4" data-toggle="tab">Header & Footer</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">

                <div class="control-group">
                    <label class="control-label">Name</label>

                    <div class="controls">
                        #springFormInput("folder.name", "class='input-xxlarge'")
                    </div>
                </div>

                #if ($folder.id > 1)
                    <div class="control-group">
                        <label class="control-label">Parent</label>

                        <div class="controls">
                            <select id="parent" name="parent" class="input-xxlarge">
                                #foreach($option in $parents.keySet())
                                    <option value="${option}"
                                        #if("$!folder.parent.id" == "$option")
                                            selected="selected"
                                        #end>
                                        ${parents.get($option)}</option>
                                #end
                            </select>
                        </div>
                    </div>
                #end

                <div class="control-group">
                    <label class="control-label">Hidden</label>

                    <div class="controls">
                        #springFormCheckbox("folder.hidden")
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Theme</label>

                    <div class="controls">
                        <select id="theme" name="theme" class="input-xxlarge">
                            #foreach($option in $themesMap.keySet())
                                <option value="${option}"
                                    #if("$!folder.theme.id" == "$option")
                                        selected="selected"
                                    #end>
                                    ${themesMap.get($option)}</option>
                            #end
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Subfolder Ordering</label>

                    <div class="controls">
                        #springFormSingleSelect("folder.folderOrdering", $folderOrderingMap)
                        #if ($folder.folderOrdering == "Manual")
                            <a href="/backoffice/folder/$folder.id/suborder" class="btn">Edit Subfolder Order</a>
                        #end
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Permalink</label>

                    <div class="controls">
                        #springFormInput("folder.permaLink", "class='input-xxlarge'")
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Redirect</label>

                    <div class="controls">
                        #springFormInput("folder.redirect", "class='input-xxlarge'")
                    </div>
                </div>


            </div>
            <div class="tab-pane" id="tab2">

                <div class="control-group">
                    <label class="control-label">Title Tag</label>

                    <div class="controls">
                        #springFormInput("folder.titleTag", "class='input-xxlarge'")
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Description Tag</label>

                    <div class="controls">
                        #springFormInput("folder.descriptionTag", "class='input-xxlarge'")
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Keywords Tag</label>

                    <div class="controls">
                        #springFormInput("folder.keywordsTag", "class='input-xxlarge'")
                    </div>
                </div>

            </div>

            <div class="tab-pane" id="tab3">


                <legend>Sections</legend>
                <table class="table table-condensed table-hover" id="sections-table">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    #foreach ($s in $sections)
                        <tr data-section-id="$s.id" class="section-row">
                            <td>$!s.name()</td>
                            <td>$s.desc()</td>
                            <td>
                                <a href="$s.backoffice()" role="button" class="btn btn-mini">
                                    <i class="icon-pencil"></i></a>

                                <a href="$urlResolver.deleteSection($folder, $s)" role="button"
                                   class="btn btn-mini btn-danger">
                                    <i class="icon-trash icon-white"></i></a>
                            </td>
                        </tr>
                    #end
                </table>

            </div>

            <div class="tab-pane" id="tab4">


                <div class="control-group">
                    <label class="control-label">Header</label>

                    <div class="controls">
                        #springFormTextarea("folder.header", "rows='8' class='input-block-level htmleditor'")
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Footer</label>

                    <div class="controls">
                        #springFormTextarea("folder.footer", "rows='8' class='input-block-level htmleditor'")
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Save changes</button>
        <a href="/backoffice/folder" class="btn btn-info"><i class="icon-arrow-left"></i> Return to list</a>
    </div>

</form>


<form method="POST" action="/backoffice/folder/$folder.id/section/create" class="form-inline">
    <label>Add Section:</label>
    <select name="class">
        #foreach($class in $classes.keySet())
            <option value="${class}">${classes.get($class)}</option>
        #end
    </select>
    <button class="btn btn-success" type="submit"><i class="icon-white icon-plus-sign"></i> Add</button>
</form>


<script>
    $(function () {
        $("#sections-table tbody").sortable({

            update: function (event, ui) {
                var order = []
                $("#sections-table tr.section-row").each(function (v) {
                    var id = $(this).attr("data-section-id")
                    order.push(id)
                })

                $.ajax({
                    type: "POST",
                    url: "/backoffice/folder/$folder.id/section/order",
                    contentType: "text/plain",
                    data: order.join('-')
                });
            }
        });
        $("#sections-table tbody").disableSelection();
    });
</script>

#parse("/admin/footer.vm")
