#parse("/admin/header.vm")

<h3>Folders</h3>

<p>
    <a href="/backoffice/folder/create" role="button" class="btn"> <i class="icon-plus-sign"></i> Create Folder</a>
</p>

<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
    </tr>
    #foreach ($f in $folders)
        <tr>
            <td>$f.id</td>
            <td>$f.fullName()</td>
            <td>
                <a href="$urlResolver.folderEdit($f)" role="button" class="btn btn-mini"> <i
                        class="icon-pencil"></i></a>
                <a href="$urlResolver.folderSiteView($f)" role="button" class="btn btn-mini"> <i
                        class="icon-eye-open"></i></a>
            </td>
        </tr>
    #end
</table>

<p>
    <a href="/backoffice/folder/create" role="button" class="btn"> <i class="icon-plus-sign"></i> Create Folder</a>
</p>

#parse("/admin/footer.vm")