#parse("/admin/header.vm")

<div id="create-folder-modal" class="modal hide">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Create Folder</h3>
    </div>
    <form method="GET" action="/backoffice/folder/create" class="form-horizontal">
        <div class="modal-body">

            <div class="control-group">
                <label class="control-label" for="new-folder-name">Name</label>

                <div class="controls">
                    <input type="text" id="new-folder-name" name="name" placeholder="New Folder Name">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </form>
</div>

<h3>Folders</h3>

<p>
    <a href="#create-folder-modal" role="button" class="btn" data-toggle="modal"><i class="icon-plus-sign"></i> Create Folder</a>
</p>

<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
    </tr>
    #foreach ($f in $folders)
        <tr>
            <td>$f.id</td>
            <td>$f.fullName()</td>
            <td>
                <a href="$urlResolver.folderEdit($f)" role="button" class="btn btn-mini"> <i
                        class="icon-pencil"></i></a>
                <a href="$urlResolver.folderSiteView($f)" role="button" class="btn btn-mini"> <i
                        class="icon-eye-open"></i></a>
            </td>
        </tr>
    #end
</table>

<p>
    <a href="#create-folder-modal" role="button" class="btn" data-toggle="modal"><i class="icon-plus-sign"></i> Create Folder</a>
</p>

#parse("/admin/footer.vm")