#parse("/admin/header.vm")

<h3>Folder Settings</h3>

<form class="form-horizontal" method="POST">

    <div class="control-group">
        <label class="control-label">Default page size</label>

        <div class="controls">
            #springFormInput("settings.pageSize", "class='input-small'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Default Sort</label>

        <div class="controls">
            <select id="sort" name="sort">
                #foreach($option in $sortMap.keySet())
                    <option value="${option}"
                        #if("$!section.sort" == "$option")
                            selected="selected"
                        #end>
                        ${sortMap.get($option)}</option>
                #end
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Header</label>

        <div class="controls">
            #springFormTextarea("settings.header", "rows='8' class='input-block-level htmleditor'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Footer</label>

        <div class="controls">
            #springFormTextarea("settings.footer", "rows='8' class='input-block-level htmleditor'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Subfolder Markup</label>

        <div class="controls">
            <select id="subfolderMarkup" name="subfolderMarkup">
                #foreach($option in $markupMap.keySet())
                    <option value="${option}"
                        #if("$!settings.subfolderMarkup.id" == "$option")
                            selected="selected"
                        #end>
                        ${markupMap.get($option)}</option>
                #end
            </select>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>

</form>

#parse("/admin/footer.vm")