#parse("/admin/header.vm")


<h3>Edit Section</h3>

<form class="form-horizontal" method="POST">

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormInput("section.name", "class='input-xlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Visible</label>

        <div class="controls">
            #springFormCheckbox("section.visible")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">
            <a href="/backoffice/form/$section.form.id" class="btn btn-xs"><i class="glyphicon glyphicon-pencil"></i></a> Form
        </label>

        <div class="controls">
            <select id="form" name="form">
                #foreach($option in $formsMap.keySet())
                    <option value="${option}"
                        #if("$!section.form.id" == "$option")
                            selected="selected"
                        #end>
                        ${formsMap.get($option)}</option>
                #end
            </select>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="/backoffice/folder/$section.folder.id" class="btn">Return</a>
    </div>

</form>

#parse("/admin/footer.vm")