#parse("/admin/header.vm")


<div class="page-header">
    <h2>Form Section $section.id</h2>
</div>


<form class="form-horizontal" method="POST">

  #parse("/admin/section/common.vm")

    <div class="form-group">
        <label class="col-lg-2 control-label">
            <a href="/backoffice/form/$section.form.id" class="btn btn-xs btn-default">
                <i class="glyphicon glyphicon-pencil"></i></a> Form
        </label>

        <div class="col-lg-8">
            <select id="form" name="form" class="form-control">
              #foreach($option in $formsMap.keySet())
                  <option value="${option}"
                    #if("$!section.form.id" == "$option")
                          selected="selected"
                    #end>
                    ${formsMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

  #parse("/admin/section/actions.vm")

</form>

#parse("/admin/footer.vm")