#parse("/admin/header.vm")


<h1>Edit Theme</h1>

<form class="form-horizontal" method="POST">

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormInput("theme.name")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Default</label>

        <div class="controls">
            #springFormCheckbox("theme.default")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Header</label>

        <div class="controls">
            #springFormTextarea("theme.header", "rows='16' class='input-block-level htmleditor'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Footer</label>

        <div class="controls">
            #springFormTextarea("theme.footer", "rows='16' class='input-block-level htmleditor'")
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn">Cancel</button>
    </div>

</form>

#parse("/admin/footer.vm")