#parse("/admin/header.vm")


<h3>Edit Theme</h3>

<form class="form-horizontal" method="POST">

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormInput("theme.name")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Default</label>

        <div class="controls">
            #springFormCheckbox("theme.default")
        </div>
    </div>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Header</a></li>
            <li><a href="#tab2" data-toggle="tab">Footer</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                #springFormTextarea("theme.header", "rows='24' class='input-block-level '")
            </div>
            <div class="tab-pane" id="tab2">
                #springFormTextarea("theme.footer", "rows='24' class='input-block-level '")
            </div>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn">Cancel</button>
    </div>

</form>

#parse("/admin/footer.vm")