#parse("/admin/header.vm")


<h1>Submissions</h1>


<table class="table table-condensed table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Date</th>
        <th></th>
    </tr>
    #foreach ($s in $submissions)
        <tr>
            <td>$s.id</td>
            <td>$s.formName</td>
            <td>$datetool.format($s.date)</td>
            <td>
                <a href="$urlResolver.viewSubmission($s)" role="button" class="btn btn-mini"> <i
                        class="icon-eye-open"></i></a></td>
        </tr>
    #end
</table>



#parse("/admin/footer.vm")