#parse("/admin/header.vm")


<h3>Submission: #$submission.id</h3>

<p>Submitted at $datetool.format($submission.date)</p>
<p>From form $submission.formName $!submission.folder.name</p>

<table class="table table-condensed table-striped table-hover">
    <tr>
        <th>Field</th>
        <th>Value</th>
        <th></th>
    </tr>
    #foreach ($data in $submission.data)
        <tr>
            <td>$data.key</td>
            <td>$data.value</td>
        </tr>
    #end
</table>


#springShowErrors()


<table class="table table-condensed table-striped table-hover">
    #foreach ($a in $submission.attachments)
        <tr>
            <th>Attachment</th>
            <td><a href="$assetStore.link($a)">$a</a></td>
        </tr>
    #end
</table>


#parse("/admin/footer.vm")