#parse("/admin/header.vm")

<h3>Edit Account Type: $accountType.name</h3>

<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>

        <div class="col-lg-8">
          #springFormInput("accountType.name", "")
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="/backoffice/accounttype" class="btn btn-info"> <i class="glyphicon  glyphicon-arrow-left"></i> Return to list</a>
    </div>

</form>

#parse("/admin/footer.vm")