#parse("/admin/header.vm")

<div class="page-header">
    <h2>Account Type: $accountType.name</h2>
</div>

<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>

        <div class="col-lg-8">
          #springFormInput("accountType.name", "class='form-control'")
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a href="/backoffice/accounttype" class="btn btn-default">
                <i class="glyphicon glyphicon-arrow-left"></i> Return to list
            </a>
        </div>
    </div>

</form>

#parse("/admin/footer.vm")