#parse("/admin/header.vm")

<div class="page-header">
    <h2>Edit Form: $form.name</h2>
</div>

<form class="form-horizontal" method="POST">


    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Fields</a></li>
            <li><a href="#tab2" data-toggle="tab">Submission Text</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">

                <br/>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Name</label>

                    <div class="col-lg-8">
                      #springFormInput("form.name", "class='form-control'")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Email Notification Recipients</label>

                    <div class="col-lg-8">
                      #springFormTextarea("form.recipients", "class='form-control'")
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-lg-3 control-label">Submit Button Text</label>

                    <div class="col-lg-8">
                      #springFormInput("form.submitButtonText", "class='form-control'")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Submission Email Subject</label>

                    <div class="col-lg-8">
                      #springFormInput("form.submissionEmailSubject", "class='form-control'")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Submission Email Body</label>

                    <div class="col-lg-8">
                      #springFormTextarea("form.submissionEmailBody", "class='form-control'")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Submission Redirect</label>

                    <div class="col-lg-8">
                      #springFormInput("form.submissionRedirect", "class='form-control'")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Use Captcha</label>

                    <div class="col-lg-8">
                      #springFormCheckbox("form.captcha")
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="tab2">
              #springFormTextarea("form.submissionText", "rows='12' class='input-block-level tinymce'")
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-save"></i> Save changes
            </button>
            <a href="/backoffice/form" class="btn btn-default">
                <i class="glyphicon glyphicon-arrow-left"></i> Return to forms
            </a>
        </div>
    </div>

</form>

<legend>Form Fields</legend>
<table class="table table-condensed table-hover" id="fields-table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Required</th>
        <th></th>
    </tr>
  #foreach ($field in $fields)
      <tr data-field-id="$field.id" class="field-row">
          <td>$field.id</td>
          <td>$field.name</td>
          <td>$field.fieldType</td>
          <td>#if ($field.required) <span class="label label-important">Required</span>#end</td>
          <td>
              <a href="/backoffice/form/$form.id/field/$field.id" role="button" class="btn btn-xs btn-default">
                  <i class="glyphicon  glyphicon-pencil"></i></a>


              <a onClick="bootbox.confirm('Confirm delete', function(result) {
                      if (result) {
                      window.location='/backoffice/form/$form.id/field/$field.id/delete';
                      }})" role="button" class="btn btn-danger btn-xs">
                  <i class="glyphicon glyphicon-trash"></i></a>
          </td>
      </tr>
  #end
</table>


<div class="panel panel-default">
    <div class="panel-body">
        <a href="/backoffice/form/$form.id/field/create" role="button" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i> Add form field</a>
    </div>
</div>


<script>
    $(function () {
        $("#fields-table tbody").sortable({

            update: function (event, ui) {
                var order = []
                $("#fields-table tr.field-row").each(function (v) {
                    var id = $(this).attr("data-field-id")
                    order.push(id)
                })

                $.ajax({
                    type: "POST",
                    url: "/backoffice/form/$form.id/field/order",
                    contentType: "text/plain",
                    data: order.join('-')
                });
            }
        });
        $("#fields-table tbody").disableSelection();
    });
</script>

#parse("/admin/footer.vm")