#parse("/admin/header.vm")


<div class="page-header">
    <h2>Edit Form Field</h2>
</div>


<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>

        <div class="col-lg-8">
          #springFormInput("field.name", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Type</label>

        <div class="col-lg-8">
          #springFormSingleSelect("field.fieldType", $typesMap, "class='form-control'")
        </div>
    </div>

  #if ($field.fieldType == "Email" || $field.fieldType == "Text" || $field.fieldType == "TextArea")
      <div class="form-group">
          <label class="col-lg-2 control-label">Size</label>

          <div class="col-lg-8">
            #springFormSingleSelect("field.size", $fieldSizesMap, "class='form-control'")
          </div>
      </div>
  #end

    <div class="form-group">
        <label class="col-lg-2 control-label">Required</label>

        <div class="col-lg-8">
          #springFormCheckbox("field.required", "")
        </div>
    </div>

  #if ($field.fieldType == "Email" || $field.fieldType == "Text")
      <div class="form-group">
          <label class="col-lg-2 control-label">Placeholder</label>

          <div class="col-lg-8">
            #springFormInput("field.placeholder", "class='form-control'")
          </div>
      </div>
  #end

  #if ($field.fieldType == "Email")
      <div class="form-group">
          <label class="col-lg-2 control-label">Submitter Email Field</label>

          <div class="col-lg-8">
            #springFormCheckbox("field.submitterEmailField", "")
          </div>
      </div>
  #end

  #if ($field.fieldType == "TickBoxes" || $field.fieldType == "DropDownMenu" || $field.fieldType == "Radio")
      <div class="form-group">
          <label class="col-lg-2 control-label">Options</label>

          <div class="col-lg-8">
            #springFormTextarea("field.options", "cols='70', rows='18' class='form-control'")
          </div>
      </div>
  #end

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a role="button" class="btn btn-default" href="/backoffice/form/$field.form.id">Return to form</a>
        </div>
    </div>

</form>




#parse("/admin/footer.vm")