#parse("/admin/header.vm")

<h3>Account Plugin Settings</h3>

<form class="form-horizontal" method="POST">

    <legend>Account Page</legend>

    <div class="control-group">
        <label class="control-label">Header</label>

        <div class="controls">
          #springFormTextarea("plugin.accountPageHeader")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Footer</label>

        <div class="controls">
          #springFormTextarea("plugin.accountPageFooter")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Markup</label>

        <div class="controls">
            <select id="accountPageMarkup" name="accountPageMarkup">
              #foreach($option in $markupMap.keySet())
                  <option value="${option}"
                    #if("$!plugin.accountPageMarkup.id" == "$option")
                          selected="selected"
                    #end>
                    $!{markupMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

    <legend>Login Page</legend>

    <div class="control-group">
        <label class="control-label">Login Redirect</label>

        <div class="controls">
          #springFormInput("plugin.loginRedirect")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Header</label>

        <div class="controls">
          #springFormTextarea("plugin.loginPageHeader")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Footer</label>

        <div class="controls">
          #springFormTextarea("plugin.loginPageFooter")
        </div>
    </div>

    <legend>Registration Page</legend>

    <div class="control-group">
        <label class="control-label">Header</label>

        <div class="controls">
          #springFormTextarea("plugin.registrationPageHeader")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Footer</label>

        <div class="controls">
          #springFormTextarea("plugin.registrationPageFooter")
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn">Cancel</button>
    </div>

</form>

#parse("/admin/footer.vm")