#parse("/admin/header.vm")

<h3>Masonry Section</h3>

<form class="form-horizontal" method="POST" enctype="multipart/form-data">

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>

        <div class="col-lg-8">
          #springFormInput("section.name", "class='input-xlarge'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Visible</label>

        <div class="col-lg-8">
          #springFormCheckbox("section.visible")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Upload</label>

        <div class="col-lg-8">
            <input type="file" name="upload"/>
        </div>
    </div>

    <ul class="thumbnails">
      #foreach ($image in $section.images())
          <li class="span2">
              <div class="thumbnail">
                  <img data-src="holder.js/300x200" src="/images/$image.key()?width=200&height=160">
                  <a class="btn btn-xs btn-default" href="/images/$image.key()">
                      <i class="glyphicon  glyphicon-eyeball glyphicon  glyphicon-white"></i> View Original</a>
                  <a class="btn btn-danger btn-xs"
                     href="/backoffice/plugin/gallery/masonry/section/$section.id/delete/$image.key()">
                      <i class="glyphicon  glyphicon-trash glyphicon  glyphicon-white"></i> Remove</a>
                  <textarea name="desc_$image.key()" placeholder="enter caption">$!image.description()</textarea>
              </div>
          </li>
      #end
    </ul>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>



#parse("/admin/footer.vm")