#parse("/admin/header.vm")


<h3>Masonry Sections</h3>


<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Page</th>
        <th>Name</th>
    </tr>
  #foreach ($s in $sections)
      <tr>
          <td>$s.id</td>
        #if ($s.folder)
            <td>
              $s.folder.name
                <a href="/backoffice/folder/$s.folder.id" role="button" class="btn btn-mini">
                    <i class="icon-folder-close"></i>
                </a>
            </td>
        #end
          <td>
            $s.name
              <a href="/backoffice/plugin/gallery/masonry/section/$s.id" role="button" class="btn btn-mini">
                  <i class="icon-pencil"></i>
              </a>
          </td>
      </tr>
  #end
</table>



#parse("/admin/footer.vm")