#parse("/admin/header.vm")


<h3>Delivery Options</h3>

<a href="/backoffice/delivery/create" role="button" class="btn btn-sm">
    <i class="glyphicon glyphicon-plus"></i> Create Delivery Option</a>

<table class="table table-condensed table-hover" id="deliveryoptions-table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
    </tr>
    #foreach ($o in $options)
        <tr class="option-row" data-delivery-id="$o.id">
            <td>$o.id</td>
            <td>$!o.name</td>
            <td>
                <a href="$urlResolver.editDeliveryOption($o)" role="button" class="btn btn-xs">
                    <i class="glyphicon glyphicon-pencil"></i></a>

                <a href="/backoffice/delivery/$o.id/delete" role="button" class="btn btn-xs btn-danger">
                    <i class="glyphicon glyphicon-trash icon-white"></i></a>
            </td>
        </tr>
    #end
</table>

<script>
    $(function () {
        $("#deliveryoptions-table tbody").sortable({

            update: function (event, ui) {
                var order = []
                $("#deliveryoptions-table tr.option-row").each(function (v) {
                    var id = $(this).attr("data-delivery-id")
                    order.push(id)
                })

                $.ajax({
                    type: "POST",
                    url: "/backoffice/delivery/order",
                    contentType: "text/plain",
                    data: order.join('-')
                });
            }
        });
        $("#deliveryoptions-table tbody").disableSelection();
    });
</script>




#parse("/admin/footer.vm")