body {
	margin: 0px;
}

h1 {
	color: #aaa;
	font-weight: normal;
	font-size: 32px;
	font-family: 'RobotoBoldCondensed', Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	margin-left: 1px;
}

div.setting {
	text-align: center;
	float: left;
	width: 70px;
	border: 1px solid #ccc;
	font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px;
	margin: 8px;
	height: 80px;
	padding: 8px;
}

div.setting a {
	color: #444;
	text-decoration: none;
}

div.setting a:hover {
	color: #F50;
}

div.setting img {
	width: 48px;
	height: 48px;
	border: 0;
}

table.visitors_profile {
	font-size: 11px;
	background: #ffffe1;
	padding: 5px 10px;
	border: 1px solid #222222;
	padding: 0;
	display: none;
	position: absolute;
	margin-left: 15px;
}

table.visitors_profile td {
	background: #ffffe1;
}

div.help {
	z-index: 9;
	position: absolute;
	width: 540px;
	display: none;
	margin-left: 25px;
	margin-top: 15px;
	background: #ffffe1;
	padding: 5px 10px;
	border: 1px solid #222222;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
}

table.balloon {
	z-index: 10;
	position: absolute;
	right: 40%;
	top: -100px;
	width: 400px;
	display: none;
}

table.balloon td.left {
	background: url(../graphics/helpballoon/balloon_l.gif) repeat-y right
		top;
}

table.balloon td.right {
	background: url(../graphics/helpballoon/balloon_r.gif) repeat-y left top;
}

table.balloon td.bottom {
	height: 22px;
	background: url(../graphics/helpballoon/balloon_b.gif) repeat-x right;
}

table.balloon td.top {
	background: url(../graphics/helpballoon/balloon_t.gif) repeat-x top;
}

table.balloon td {
	padding: 0 !important;
}

table.balloon td.content {
	height: 70px;
	padding: 6px 12px !important;
	font-size: 16px;
	font-weight: normal;
	font-family: Arial;
	width: 100%;
	background: #fcf179 url(../graphics/helpballoon/balloon_back.gif)
		repeat-x top;
}

div.orderTotals {
	font-family: Verdana;
	font-weight: bold;
	font-size: 14px;
	text-align: right;
}

table.messages td {
	padding: 3px 10px;
	font-family: verdana;
	font-size: 11px;
}

table.messages {
	margin-top: 10px;
}

div.simpleDiv {
	position: relative;
	padding: 4px;
	font-weight: bold;
	text-align: center;
	font-family: Verdana;
	font-size: 12px;
}

div.actions {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

div.actionbar {
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 12px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	width: 100%;
	margin: 0 auto;
}

div.actions input,div.actionbar input {
	background: #506481;
	min-width: 80px;
	border-color: #597FB8;
	color: #fff;
	font-weight: bold;
	font-size: 12px !important;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	line-height: 13px;
	padding: 4px 8px;
	text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
}

div.actions input {
	font-size: 16px;
	padding: 3px 6px;
	margin-right: 3px;
	margin-left: 3px;
}

table.header {
	font-family: Verdana;
	width: 100%;
}

table.header td.name {
	padding-left: 8px;
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
	color: #394d6b;
	letter-spacing: -0.05em;
}

table.header td.name span {
	font-size: 22px;
	font-weight: bold;
	padding-right: 6px;
}

table.header td.status {
	padding-right: 15px;
	font-size: 22px;
	color: #cccccc;
	font-weight: bold;
}

table.header td.icon {
	padding-left: 5px;
	padding-bottom: 5px;
	width: 60px;
	font-size: 10px;
}

table.header td.icon a {
	color: black;
	text-decoration: none;
}

table.header td.icon a:hover {
	color: orange;
	text-decoration: none;
}

ul.menu {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.menu li {
	margin: 0;
	padding: 0;
}

ul.menu li a {
	text-decoration: none;
	display: block;
	padding: 8px 18px;
	background: #506481;
	color: white;
	font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
	font-size: 13px;
}

ul.menu li a:hover {
	text-decoration: none;
	background: #3D5270;
}

ul.menu li.active a {
	background: 70839E;
	color: #white;
}

ul.submenu {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.submenu li {
	margin: 0;
	padding: 0;
}

ul.submenu li a {
	text-decoration: none;
	display: block;
	padding: 8px 18px;
	background: white;
	color: #bd4413;
	font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
	font-size: 12px;
}

ul.submenu li a:hover {
	text-decoration: none;
	background: #ccc;
}

table.main {
	width: 100%;
	padding: 0;
	height: 100%;
}

table.main td.sidebar {
	width: 200px;
	background: #506481;
	height: 100%;
}

table.main td.content {
	padding: 8px;
	padding-bottom: 70px;
}

table.form {
	border: 1px solid #DFDFDF;
	width: 100%;
	color: #000000;
	margin-bottom: 14px;
	width: 100%;
	font-family: sans-serif;
	font-size: 12px;
	border: 1px solid #DFDFDF;
	background-color: whiteSmoke;
	background-image: -ms-linear-gradient(top, #F9F9F9, whiteSmoke);
	background-image: -moz-linear-gradient(top, #F9F9F9, whiteSmoke);
	background-image: -o-linear-gradient(top, #F9F9F9, whiteSmoke);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9),
		to(whiteSmoke) );
	background-image: -webkit-linear-gradient(top, #F9F9F9, whiteSmoke);
	background-image: linear-gradient(top, #F9F9F9, whiteSmoke);
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 white;
	box-shadow: inset 0 1px 0 white;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-collapse: collapse;
}

table.form table.attribute_selections {
	font-size: 12px;
	font-family: Arial;
}

table.form table.attribute_selections td {
	padding: 0;
}

table.form caption {
	vertical-align: middle;
	border-collapse: collapse;
	border-spacing: 2px;
	font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
	padding: 7px 7px 8px;
	color: #333;
	text-align: left;
	font-size: 14px;
	background-color: #F1F1F1;
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #DFDFDF;
}

table.form td {
	padding: 6px 20px 6px 6px;
	color: #222;
	border-top: 1px solid white;
	border-bottom: 1px solid #DFDFDF;
}

table.form td strong {
	color: #333;
}

table.form td input,table.form td select,table.form td textarea {
	margin-bottom: 2px;
	margin-right: 6px;
	padding: 2px;
	border-color: #BBB;
	color: #464646;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	font-size: 12px !important;
	line-height: 13px;
	padding: 3px 8px;
}

table.form th {
	border-top: 1px solid white;
	border-bottom: 1px solid #DFDFDF;
	color: #506481;
	background: #f7f7f7;
	text-align: left;
	font-weight: bold;
	padding: 4px 20px 4px 5px;
}

table.form th a {
	color: #21759B;
}

table.form th a:hover {
	color: #D54E21;
}

table.form td a {
	font-size: 13px;
	color: #21759B;
	text-decoration: none;
	font-weight: bold;
}

table.form td a:hover {
	color: #D54E21;
	text-decoration: none;
}

table.form tr:hover td {
	
}