div.adminbar {
	background: #464646;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 26px;
}

div.adminbar ul {
	clear: none;
	margin: 0;
	padding: 0;
	list-style: none;
	color: #D7EBFF;
}

div.adminbar li {
	background: #464646;
	border-right: 1px solid #555;
	padding: 6px 12px;
	font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	list-style: none;
	display: inline-block;
	float: left;
}

div.adminbar li a {
	color: white;
	text-decoration: none;
}

div.adminbar li a:hover {
	text-decoration: none;
	border-bottom: 3px solid #bd4413;
}