#parse("/admin/header.vm")


<h3>Edit Google Base Feed</h3>


<form class="form-horizontal" method="POST">

    <legend>Attributes</legend>
    <div class="control-group">
        <label class="control-label">brandAttribute</label>

        <div class="controls">
            #springFormInput("feed.brandAttrName", "class='input-large'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">partNumberAttribute</label>

        <div class="controls">
            #springFormInput("feed.partAttrName", "class='input-large'")
        </div>
    </div>

    <legend>Ftp Details</legend>
    <div class="control-group">
        <label class="control-label">FTP Hostname</label>

        <div class="controls">
            #springFormInput("feed.ftpHostname", "class='input-large'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">FTP Username</label>

        <div class="controls">
            #springFormInput("feed.ftpUsername", "class='input-large'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">FTP Password</label>

        <div class="controls">
            #springFormInput("feed.ftpPassword", "class='input-large'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Google Product Category</label>

        <div class="controls">
            #springFormInput("feed.productCategory", "class='input-xlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Output Filename</label>

        <div class="controls">
            #springFormInput("feed.ftpFilename", "class='input-large'")
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>

</form>

#parse("/admin/footer.vm")