#parse("/admin/header.vm")


<div class="page-header">
    <h2>Edit Google Base Feed</h2>
</div>


<form class="form-horizontal" method="POST">

    <legend>Attributes</legend>
    <div class="form-group">
        <label class="col-lg-2 control-label">Brand Attribute</label>

        <div class="col-lg-8">
          #springFormInput("feed.brandAttrName", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Part Number Attribute</label>

        <div class="col-lg-8">
          #springFormInput("feed.partAttrName", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Shipping Cost</label>

        <div class="col-lg-8">
          #springFormInput("feed.shippingCost", "class='form-control'")
        </div>
    </div>

    <legend>Ftp Details</legend>
    <div class="form-group">
        <label class="col-lg-2 control-label">FTP Hostname</label>

        <div class="col-lg-8">
          #springFormInput("feed.ftpHostname", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">FTP Username</label>

        <div class="col-lg-8">
          #springFormInput("feed.ftpUsername", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">FTP Password</label>

        <div class="col-lg-8">
          #springFormInput("feed.ftpPassword", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Google Product Category</label>

        <div class="col-lg-8">
          #springFormInput("feed.productCategory", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Output Filename</label>

        <div class="col-lg-8">
          #springFormInput("feed.ftpFilename", "class='form-control'")
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">
                <i class="icon-save"></i> Save changes
            </button>
            <a href="/backoffice/feed" class="btn btn-default">
                <i class="glyphicon glyphicon-arrow-left"></i> Return to feeds
            </a>
            <a href="/backoffice/feed/gbase/$feed.id/delete" class="btn btn-danger">
                <i class="icon-trash"></i> Delete Feed
            </a>
        </div>
    </div>

</form>

#parse("/admin/footer.vm")