#parse("/admin/header.vm")

<div class="page-header">
    <h2>Galleries</h2>
</div>

<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Images</th>
        <th></th>
    </tr>
  #foreach ($g in $galleries)
      <tr>
          <td>$g.id</td>
          <td>$g.name</td>
          <td>$g.images.size()</td>
          <td>
              <a href="/backoffice/gallery/$g.id" role="button" class="btn btn-xs btn-default">
                  <i class="glyphicon glyphicon-pencil"></i>
              </a>
              <a href="/backoffice/gallery/$g.id/delete" role="button" class="btn btn-xs btn-danger">
                  <i class="glyphicon glyphicon-trash glyphicon  glyphicon-white"></i>
              </a>
          </td>
      </tr>
  #end
</table>

<div class="panel panel-default">
    <div class="panel-body">
        <a href="/backoffice/gallery/create" role="button" class="btn btn-xs btn-default">
            <i class="glyphicon  glyphicon-plus"></i> Create
        </a></div>
</div>

#parse("/admin/footer.vm")