#parse("/admin/header.vm")

<div class="page-header">
    <h2>Transaction ${tx.id}</h2>
    <h5>Date: $datetool.format($tx.date)</h5>
</div>


<form class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-2 control-label">Transaction Id</label>

        <div class="col-lg-8">
          #springFormInput("tx.transactionId", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Processor</label>

        <div class="col-lg-8">
          #springFormInput("tx.paymentProcessor", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Auth Code</label>

        <div class="col-lg-8">
          #springFormInput("tx.authCode",  "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Amount</label>

        <div class="col-lg-8">
            <input type="text" value="$number.currency($tx.amountDecimal())" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Status</label>

        <div class="col-lg-8">
          #springFormInput("tx.status", "class='form-control'")
        </div>
    </div>
</form>

#parse("/admin/footer.vm")