#parse("/admin/header.vm")

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h1>
                Welcome to Scalapress
            </h1>

            <p>
                We've assembled some links to help you get started
            </p>

            <div class="row">
                <div class="col-md-3">
                    <h4>
                        First steps
                    </h4>

                    <p>
                        <i class="glyphicon glyphicon-home"></i>
                        <a href="/backoffice/folder/1">Edit your front page</a>
                    </p>

                    <p>
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        <a href="/backoffice/folder/create">Add a new page</a>
                    </p>

                    <p>
                        <i class="glyphicon glyphicon-cog"></i>
                        <a href="/backoffice/settings/installation">Configure site details</a>
                    </p>

                    <p>
                        <i class="glyphicon glyphicon-eye-open"></i>
                        <a href="/">View your site</a>
                    </p>

                </div>
                <div class="col-md-3">
                    <h4>
                        More actions
                    </h4>

                    <p>
                        <i class="glyphicon glyphicon-check"></i>
                        <a href="/backoffice/submission">View form submissions</a>
                    </p>

                    <p>
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <a href="/backoffice/widget">Manage widgets</a>
                    </p>

                    <p>
                        <i class="glyphicon glyphicon-search"></i>
                        <a href="http://www.google.com/search?q=site:$installation.domain">Show Google backlinks</a>
                    </p>

                    <p>
                        <i class="glyphicon glyphicon-user"></i>
                        <a href="/backoffice/user/$user.id">Change your password</a>
                    </p>

                    <p>
                        <span class="label label-default">$indexed</span> Indexed objects
                    </p>

                    <p>
                        <span class="label label-default">$folderCount</span> Folders
                    </p>

                </div>
                <div class="col-md-6">
                    <h4>
                        Recently created
                    </h4>

                  #foreach ($recent in $recentObjects)
                      <p>
                          <span class="label label-primary"
                                style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">$recent.id()</span>
                          &nbsp; <a style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden"
                                    href="/backoffice/item/$recent.id()">$recent.name()</a>
                      </p>
                  #end
                </div>
            </div>
        </div>
    </div>
</div>

#if ($orderTotals)

<div class="well">
    <h4>
        Daily Order Count Past 6 months
    </h4>

    <div id="orderTotals">
    </div>
</div>

<script type="text/javascript">
    google.load("visualization", "1", {packages: ["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Date', 'Order Total']
          #foreach ($orderTotal in $orderTotals)
              ,
              ['$orderTotal.date()', $orderTotal.total()]
          #end
        ]);

        var options = {
            hAxis: {textPosition: 'none'},
            vAxis: {textPosition: 'none'},
            legend: { position: 'none' },
            chartArea: {left: 0, top: 0, width: "100%"}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('orderTotals'));
        chart.draw(data, options);
    }
</script>

#end

#parse("/admin/footer.vm")