<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scalapress Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>

    <link href='http://fonts.googleapis.com/css?family=Ruda:400,900,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/login.css"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
</head>
<body onload='document.f.j_username.focus();'>


<div class="container">
    <div id="login-wrapper">
        <form name='f' action='/j_spring_security_check' method='POST' class="form login-form form-horizontal">
            <legend><span class="blue">Scalapress</span> Admin</legend>

            <div class="body">
                <div class="form-group">
                    <input type='text' name='j_username' value='' class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type='password' name='j_password' class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="footer">
                <button type="submit" name="submit" class="btn btn-success">
                    Login to Scalapress
                </button>
            </div>
        </form>
    </div>
</div>

<footer class="navbar-fixed-bottom">
    <small>IP $request.remoteAddr    X-Forwarded-For $!request.getHeader("X-Forwarded-For")<br/>
      $request.getHeader("user-agent")
    </small>
</footer>

</body>
</html>




