<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <form class="navbar-search pull-right" method="GET" action="/backoffice/search">
            <input type="text" name="q" class="search-query" placeholder="Search">
            <button>Go</button>
        </form>
        <div class="container" style="width: auto; padding: 0 20px;">
            <a class="brand" href="#">
                Scalapress
            </a>
            <ul class="nav">
                <li class="active">
                    <a href="/backoffice/">Dashboard</a>
                </li>
                <li>
                    <a href="/">Home Page</a>
                </li>
                #if ($eyeball)
                    <li>
                        <a href="$eyeball">View on site</a>
                    </li>
                #end
            </ul>
        </div>
    </div>
</div>