<ul class="nav nav-tabs nav-stacked">
    <li><a href=/backoffice><i class="icon-home"></i> Dashboard</a></li>
    <li><a href=/backoffice/folder><i class="icon-folder-open"></i> Folders</a></li>
    #foreach ($type in $types)
        <li><a href=/backoffice/obj?typeId=$type.id><i class="$type.bootIcon()"></i> $type.name</a></li>
    #end
    <li><a href=/backoffice/form><i class="icon-align-center"></i> Forms</a></li>
    <li><a href=/backoffice/submission><i class="icon-pencil"></i> Submissions</a></li>
    <li><a href=/backoffice/medialib><i class="icon-picture"></i> Media Library</a></li>
    <li><a href=/backoffice/gallery><i class="icon-picture"></i> Galleries</a></li>
    <li><a href=/backoffice/plugin/search><i class="icon-search"></i> Search</a></li>
</ul>

<ul class="nav nav-tabs nav-stacked">
    <li><a href=/backoffice/type><i class="icon-font"></i> Object Types</a></li>
    <li><a href=/backoffice/widget/><i class="icon-asterisk"></i> Widgets</a></li>
    <li><a href=/backoffice/theme/><i class="icon-desktop"></i> Themes</a></li>
    <li><a href=/backoffice/user><i class="icon-user"></i> Users</a></li>
    <li><a href=/backoffice/markup/><i class="icon-eye-close"></i> Markups</a></li>
    <li><a href=/backoffice/settings/general><i class="icon-wrench"></i> General</a></li>
    <li><a href=/backoffice/settings/installation><i class="icon-cog"></i> Installation</a></li>
    <li><a href=/j_spring_security_logout><i class="icon-lock"></i> Logout</a></li>
</ul>

