#parse("/admin/header.vm")

<div class="page-header">
    <h2>Edit Voucher: $voucher.name</h2>
</div>

<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-3 control-label">Name</label>

        <div class="col-lg-8">
          #springFormInput("voucher.name", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Code</label>

        <div class="col-lg-8">
          #springFormInput("voucher.code", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Fixed discount</label>

        <div class="col-lg-8">
          #springFormInput("voucher.fixedDiscount", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Percentage discount</label>

        <div class="col-lg-8">
          #springFormInput("voucher.percentDiscount", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Start</label>

        <div class="col-lg-8">
            <input type="text" name="startString" class="form-control datepicker"
                   value="$!datetool.format("dd-MM-yyyy", $voucher.start)"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Expiry</label>

        <div class="col-lg-8">
            <input type="text" name="expiryString" class="form-control datepicker"
                   value="$!datetool.format("dd-MM-yyyy", $voucher.expiry)"/>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-save"></i> Save changes
            </button>
            <a href="/backoffice/plugin/voucher" class="btn btn-default">
                <i class="glyphicon glyphicon-arrow-left"></i> Return to vouchers
            </a>
            <a href="/backoffice/plugin/voucher/$voucher.id/delete" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i> Delete
            </a>
        </div>
    </div>

</form>


#parse("/admin/footer.vm")