#parse("/admin/header.vm")


<h3>Media Library</h3>

<a href="#10e7a108-b33d-431b-9091-0e4cadb3b7de" role='button' class="btn btn-info" data-toggle="modal">Upload Media</a>

<form class='form-horizontal' method='GET'>

    <input type="text" class=" input-medium" placeholder="Search for media" name="q"/>

    <button type="submit" class="btn btn-success">
        Search
    </button>
</form>

<style>

    div.assetinfo {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 8pt;
    }

    .row-fluid .thumbnails /**/li {
        min-height: 140px;
    }

    .row-fluid .thumbnails [class*="span"] {
        margin-left: 0;
        margin-right: 1.5%;
    }

</style>

$pagination

<div class="row-fluid">
    <ul class="thumbnails">
        #foreach ($a in $assets)
            <li class="span2">
                <div class="thumbnail">
                    <img data-src="holder.js/300x200" src="/images/$a.filename()?width=128&height=128">

                    <div class="assetinfo">$a.filename()</div>
                    <div class="assetinfo">$a.size() bytes &nbsp; $a.contentType()</div>

                    <a class="btn btn-mini" href="/images/$a.filename()">
                        <i class="icon-eye-open icon-white"></i> View Original</a>
                </div>
            </li>
        #end
    </ul>
</div>

$pagination

<div class="modal hide fade" role="dialog" id="10e7a108-b33d-431b-9091-0e4cadb3b7de">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
        <h3>

        </h3>
    </div>
    <div class="modal-body">
        <form enctype="multipart/form-data" method="POST" class="form-horizontal"><p>
            Select file to upload
        </p>

            <label> Minify CSS / JS Uploads:
                <input type="checkbox" name="minify" value="true"/>
            </label>

            <input type="file" name="upload"/>
            <input type="file" name="upload"/>
            <input type="file" name="upload"/>
            <input type="file" name="upload"/>
            <input type="file" name="upload"/>
            <input type="file" name="upload"/>
            <input type="file" name="upload"/>
            <input type="file" name="upload"/>
            <input type="file" name="upload"/>
            <input type="file" name="upload"/>


            <button class="btn btn-success" type="submit">
                Upload File
            </button>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" aria-hidden="true" data-dismiss="modal">Close</button>
    </div>
</div>




#parse("/admin/footer.vm")