#parse("/admin/header.vm")


<h1>Media Library</h1>

<a href="#10e7a108-b33d-431b-9091-0e4cadb3b7de" role='button' class="btn btn-info" data-toggle="modal">Upload Media</a>

<form class='form-horizontal' method='GET'>

    <input type="text" class=" input-medium" placeholder="Search for media" name="q"/>

    <button type="submit" class="btn btn-success">
        Search
    </button>
</form>


<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>Image</th>
        <th>Filename</th>
        <th>Content Type</th>
        <th>Size</th>
    </tr>

    #foreach ($a in $assets)
        <tr>
            <td>
                <ul class="thumbnails">
                    <li class="span6">
                        <div class="thumbnail"><img src="/images/$a.filename()?width=128&height=128"/></div>
                    </li>
                </ul>
            </td>
            <td>$a.filename()</td>
            <td>$a.contentType()</td>
            <td>$a.size() bytes</td>
        </tr>
    #end
</table>


<div class="modal hide fade" role="dialog" id="10e7a108-b33d-431b-9091-0e4cadb3b7de">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
        <h3>

        </h3>
    </div>
    <div class="modal-body">
        <form enctype="multipart/form-data" method="POST" class="form-horizontal"><p>
            Select file to upload
        </p>
            <input type="file" name="upload"/>
            <button class="btn btn-success" type="submit">
                Upload File
            </button>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" aria-hidden="true" data-dismiss="modal">Close</button>
    </div>
</div>




#parse("/admin/footer.vm")