#parse("/admin/header.vm")


<div class="page-header">
    <h2>Content Section: $section.id</h2>
</div>

<form class="form-horizontal" method="POST">

  #parse("/admin/section/common.vm")

    <div class="form-group">
        <label class="col-lg-2 control-label">Content</label>

        <div class="col-lg-8">
          #springFormTextarea("section.content", "rows='16' class='form-control tinymce'")
        </div>
    </div>

  #parse("/admin/section/actions.vm")

</form>


#parse("/admin/footer.vm")