#parse("/admin/header.vm")

<div class="page-header">
    <h2>Object List Section: $section.id</h2>
</div>

<form class="form-horizontal" method="POST">

  #parse("/admin/section/common.vm")

    <div class="form-group">
        <label class="col-lg-2 control-label">Sort</label>

        <div class="col-lg-8">
            <select id="sort" name="sort" class="form-control">
              #foreach($option in $sortMap.keySet())
                  <option value="${option}"
                    #if("$!section.sort" == "$option")
                          selected="selected"
                    #end>
                    ${sortMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

  #if ($section.sort == "Attribute" || $section.sort == "AttributeDesc")
      <div class="form-group">
          <label class="col-lg-2 control-label">Sort Attribute</label>

          <div class="col-lg-8">
              <select id="sortAttribute" name="sortAttribute" class="form-control">
                #foreach($option in $attributesMap.keySet())
                    <option value="${option}"
                      #if("$!section.sortAttribute.id" == "$option") selected="selected" #end>
                      ${attributesMap.get($option)}
                    </option>
                #end
              </select>
          </div>
      </div>
  #end

    <div class="form-group">
        <label class="col-lg-2 control-label">Markup</label>

        <div class="col-lg-8">
            <select id="markup" name="markup" class="form-control">
              #foreach($option in $markupMap.keySet())
                  <option value="${option}"
                    #if("$!section.markup.id" == "$option")
                          selected="selected"
                    #end>
                    ${markupMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Page Size</label>

        <div class="col-lg-8">
          #springFormInput("section.pageSize", "class='form-control'")
        </div>
    </div>

  #parse("/admin/section/actions.vm")

</form>

#parse("/admin/footer.vm")