#parse("/admin/header.vm")

<div id="create-attributes-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Create Attributes</h3>
            </div>
            <form method="GET" action="/backoffice/type/$type.id/attribute/create" class="form-horizontal">
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="names">Names</label>

                        <div class="col-lg-8">
                            <textarea id="names" cols="50" rows="6" name="names" class="form-control"
                                      placeholder="Enter attribute names one per line"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="page-header">
    <h2>Item Type: $type.name</h2>
</div>


<legend>Details</legend>
<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-3 control-label">Name</label>

        <div class="col-lg-8">
          #springFormInput("type.name", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Hidden</label>

        <div class="col-lg-8">
          #springFormCheckbox("type.hidden", "")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Prices</label>

        <div class="col-lg-8">
          #springFormCheckbox("type.prices", "")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Link Groups</label>

        <div class="col-lg-8">
          #springFormTextarea("type.linkGroups", "class='form-control' rows='8'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Item List Markup</label>

        <div class="col-lg-8">
            <select id="objectListMarkup" name="objectListMarkup" class="form-control">
              #foreach($option in $markupMap.keySet())
                  <option value="${option}"
                    #if("$!type.objectListMarkup.id" == "$option")
                          selected="selected"
                    #end>
                    ${markupMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label">Item View Markup</label>

        <div class="col-lg-8">
            <select id="objectViewMarkup" name="objectViewMarkup" class="form-control">
              #foreach($option in $markupMap.keySet())
                  <option value="${option}"
                    #if("$!type.objectViewMarkup.id" == "$option")
                          selected="selected"
                    #end>
                    ${markupMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-save"></i> Save changes
            </button>
            <a href="/backoffice/type" role="button" class="btn btn-default">
                <i class="glyphicon glyphicon-arrow-left"></i> Return to list
            </a>
        </div>
    </div>

</form>

<legend>Attributes</legend>
<table class="table table-condensed table-striped table-hover" id="attributes-table">
    <tr>
        <th>Id</th>
        <th>Section</th>
        <th>Name</th>
        <th>Type</th>
        <th></th>
    </tr>
  #foreach ($a in $attributes)
      <tr class="attribute-row" data-attribute-id="$a.id">
          <td>$a.id</td>
          <td>$!a.section</td>
          <td>$a.name</td>
          <td>$!a.attributeType</td>
          <td>
              <a href="/backoffice/attribute/$a.id" role="button" class="btn btn-xs btn-default">
                  <i class="glyphicon glyphicon-pencil"></i>
              </a>
          </td>
      </tr>
  #end
</table>

<div class="panel panel-default">
    <div class="panel-body">
        <a href="#create-attributes-modal" role="button" class="btn btn-primary" data-toggle="modal">
            <i class="glyphicon glyphicon-plus-sign"></i> Create Attribute
        </a>
    </div>
</div>


<script>
    $(function () {
        $("#attributes-table tbody").sortable({

            update: function (event, ui) {
                var order = []
                $("#attributes-table tr.attribute-row").each(function (v) {
                    var id = $(this).attr("data-attribute-id")
                    order.push(id)
                })

                $.ajax({
                    type: "POST",
                    url: "/backoffice/type/$type.id/attribute/order",
                    contentType: "text/plain",
                    data: order.join('-')
                });
            }
        });
        $("#attributes-table tbody").disableSelection();
    });
</script>

<legend>Sections</legend>
<table class="table table-condensed table-hover" id="sections-table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </tr>
  #foreach ($s in $sections)
      <tr data-section-id="$s.id" class="section-row">
          <td>$!s.name()</td>
          <td>$s.desc()</td>
          <td>
              <a href="$s.backoffice()" role="button" class="btn btn-xs btn-default">
                  <i class="glyphicon  glyphicon-pencil"></i>
              </a>
              <a href="/backoffice/type/$type.id/section/$s.id/delete" role="button" class="btn btn-xs btn-danger">
                  <i class="glyphicon glyphicon-trash"></i>
              </a>
          </td>
      </tr>
  #end
</table>

<div class="panel panel-default">
    <div class="panel-body">

        <form method="POST" action="/backoffice/type/$type.id/section/create">
            Add Section:
            <select name="class">
              #foreach($class in $classes.keySet())
                  <option value="${class}">${classes.get($class)}</option>
              #end
            </select>
            <button type="submit" class="btn btn-primary">Add section</button>
        </form>

    </div>
</div>

#parse("/admin/footer.vm")