#parse("/admin/header.vm")


<h3>Edit Type</h3>

<form class="form-horizontal" method="POST">

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormInput("type.name")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Object List Markup</label>

        <div class="controls">
            <select id="objectListMarkup" name="objectListMarkup">
                #foreach($option in $markupMap.keySet())
                    <option value="${option}"
                        #if("$!type.objectListMarkup.id" == "$option")
                            selected="selected"
                        #end>
                        ${markupMap.get($option)}</option>
                #end
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Object View Markup</label>

        <div class="controls">
            <select id="objectViewMarkup" name="objectViewMarkup">
                #foreach($option in $markupMap.keySet())
                    <option value="${option}"
                        #if("$!type.objectViewMarkup.id" == "$option")
                            selected="selected"
                        #end>
                        ${markupMap.get($option)}</option>
                #end
            </select>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn">Cancel</button>
    </div>

</form>


<table class="table table-condensed table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>Section</th>
        <th>Name</th>
        <th>Type</th>
        <th></th>
    </tr>
    #foreach ($a in $type.attributes)
        <tr>
            <td>$a.id</td>
            <td>$!a.section</td>
            <td>$a.name</td>
            <td>$a.attributeType</td>
            <td>
                <a href="$urlResolver.attributeEdit($a)" role="button" class="btn btn-mini"> <i
                        class="icon-pencil"></i></a></td>
        </tr>
    #end
</table>


#parse("/admin/footer.vm")