#parse("/admin/header.vm")


<div class="page-header">
    <h2>Object Types</h2>
</div>


<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
    </tr>
  #foreach ($t in $types)
      <tr>
          <td>$t.id</td>
          <td>$t.name</td>
          <td>
              <a href="/backoffice/type/$t.id" role="button" class="btn btn-xs btn-default">
                  <i class="glyphicon glyphicon-pencil"></i>
              </a>
              <a href="/backoffice/type/$t.id/delete" role="button" class="btn btn-danger btn-xs">
                  <i class="glyphicon glyphicon-trash"></i>
              </a>
          </td>
      </tr>
  #end
</table>

<div class="panel panel-default">
    <div class="panel-body">
        <a href="/backoffice/type/create" role="button" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i> Create New Item Type
        </a>
    </div>
</div>

#parse("/admin/footer.vm")