#rename this and include in the spring-context.xml spring config file

s3.cdn.images=http://satnavimages.s3-external-3.amazonaws.com
s3.bucketName.images=satnavimages

s3.accessKey=1234567567567567
s3.secretKey=ADSQEWQREDGFDFGTGYHYUIHJDS7AH

mysql.hostname=localhost
mysql.port=3306
mysql.username=root
mysql.password=root
mysql.database=demo

sendgrid.smtp=smtp.sendgrid.net
sendgrid.username=username
sendgrid.password=password

search.index.preload.size=5000