#parse("/admin/header.vm")

<h3>Shopping Plugin Settings</h3>

<form class="form-horizontal" method="POST">

    <legend>Basket</legend>
    <div class="form-group">
        <label class="col-lg-2 control-label">Basket Markup</label>

        <div class="col-lg-8">
            <select id="basketMarkup" name="basketMarkup">
              #foreach($option in $markupMap.keySet())
                  <option value="${option}"
                    #if("$!plugin.basketMarkup.id" == "$option")
                          selected="selected"
                    #end>
                    $!{markupMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Basket Line Markup</label>

        <div class="col-lg-8">
            <select id="basketLineMarkup" name="basketLineMarkup">
              #foreach($option in $markupMap.keySet())
                  <option value="${option}"
                    #if("$!plugin.basketLineMarkup.id" == "$option")
                          selected="selected"
                    #end>
                    $!{markupMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

    <legend>Stock</legend>
    <div class="form-group">
        <label class="col-lg-2 control-label">Stock Method</label>

        <div class="col-lg-8">
          #springFormSingleSelect("plugin.stockMethod", $stockMethods)
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Default out of stock message</label>

        <div class="col-lg-8">
          #springFormInput("plugin.outOfStockMessage")
        </div>
    </div>

    <legend>Orders</legend>
    <div class="form-group">
        <label class="col-lg-2 control-label">Statuses</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.statuses", "rows='8'")
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Invoice Markup</label>

        <div class="col-lg-8">
            <select id="invoiceMarkup" name="invoiceMarkup">
              #foreach($option in $markupMap.keySet())
                  <option value="${option}"
                    #if("$!plugin.invoiceMarkup.id" == "$option")
                          selected="selected"
                    #end>
                    $!{markupMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

    <legend>Email Notifications</legend>
    <div class="form-group">
        <label class="col-lg-2 control-label">Email Confirmation Text (Customers)</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.orderConfirmationMessageBody", "class='input-block-level' rows='6'")
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Email Confirmation Recipients (Admin)</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.orderConfirmationRecipients", "class='input-block-level' rows='4'")
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Email Confirmation Bcc</label>

        <div class="col-lg-8">
          #springFormInput("plugin.orderConfirmationBcc", "class='input-xlarge'")
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Order Email Completion Text (Customers)</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.orderCompletionMessageBody", "class='input-block-level' rows='6'")
        </div>
    </div>

    <legend>Invoices</legend>
    <div class="form-group">
        <label class="col-lg-2 control-label">Invoice Line Markup</label>

        <div class="col-lg-8">
            <select id="invoiceLineMarkup" name="invoiceLineMarkup">
              #foreach($option in $markupMap.keySet())
                  <option value="${option}"
                    #if("$!plugin.invoiceLineMarkup.id" == "$option")
                          selected="selected"
                    #end>
                    $!{markupMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>


    <legend>Checkout</legend>

    <div class="form-group">
        <label class="col-lg-2 control-label">Checkout Confirmation Page Text</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.checkoutConfirmationText", "class='input-block-level' rows='16'")
        </div>
    </div>


    <div class="form-group">
        <label class="col-lg-2 control-label">Checkout Confirmation Scripts</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.checkoutConfirmationScripts", "class='input-block-level' rows='8'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Require terms acceptance</label>

        <div class="col-lg-8">
          #springFormCheckbox("plugin.termsAcceptance")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Terms and Conditions</label>

        <div class="col-lg-8">
          #springFormTextarea("plugin.terms", "class='input-block-level' rows='12'")
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-default">Cancel</button>
    </div>

</form>

#parse("/admin/footer.vm")