#parse("/admin/header.vm")

<h3>Shopping Plugin Settings</h3>

<form class="form-horizontal" method="POST">

    <legend>Basket</legend>
    <div class="control-group">
        <label class="control-label">Basket Markup</label>

        <div class="controls">
            <select id="basketMarkup" name="basketMarkup">
                #foreach($option in $markupMap.keySet())
                    <option value="${option}"
                        #if("$!plugin.basketMarkup.id" == "$option")
                            selected="selected"
                        #end>
                        $!{markupMap.get($option)}</option>
                #end
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Basket Line Markup</label>

        <div class="controls">
            <select id="basketLineMarkup" name="basketLineMarkup">
                #foreach($option in $markupMap.keySet())
                    <option value="${option}"
                        #if("$!plugin.basketLineMarkup.id" == "$option")
                            selected="selected"
                        #end>
                        $!{markupMap.get($option)}</option>
                #end
            </select>
        </div>
    </div>

    <legend>Stock</legend>
    <div class="control-group">
        <label class="control-label">Stock Method</label>

        <div class="controls">
            #springFormSingleSelect("plugin.stockMethod", $stockMethods)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Default out of stock message</label>

        <div class="controls">
            #springFormInput("plugin.outOfStockMessage")
        </div>
    </div>

    <legend>Orders</legend>
    <div class="control-group">
        <label class="control-label">Statuses</label>

        <div class="controls">
            #springFormTextarea("plugin.statuses", "rows='8'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Order Confirmation Recipients</label>

        <div class="controls">
            #springFormTextarea("plugin.orderConfirmationRecipients", "class='input-block-level' rows='4'")
        </div>
    </div>
    <legend>Checkout</legend>

    <div class="control-group">
        <label class="control-label">Checkout Confirmation Page Text</label>

        <div class="controls">
            #springFormTextarea("plugin.checkoutConfirmationText", "class='input-block-level' rows='16'")
        </div>
    </div>


    <div class="control-group">
        <label class="control-label">Checkout Confirmation Scripts</label>

        <div class="controls">
            #springFormTextarea("plugin.checkoutConfirmationScripts", "class='input-block-level' rows='8'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Require terms acceptance</label>

        <div class="controls">
            #springFormCheckbox("plugin.termsAcceptance")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Terms and Conditions</label>

        <div class="controls">
            #springFormTextarea("plugin.terms", "class='input-block-level' rows='12'")
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn">Cancel</button>
    </div>

</form>

#parse("/admin/footer.vm")