#parse("/admin/header.vm")

<div class="page-header">
    <h2>Sales Report $from to $to</h2>
</div>


<form class="form-horizontal">

    <div class="form-group">
        <label class="col-lg-2 control-label">From</label>

        <div class="col-lg-8">
            <select name="from" class="form-control">
              #foreach ($entry in $months.entrySet())
                  <option value="$entry.key" #if ($entry.key == $from) selected #end>$entry.value</option>
              #end
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">To</label>

        <div class="col-lg-8">
            <select name="to" class="form-control">
              #foreach ($entry in $months.entrySet())
                  <option value="$entry.key" #if ($entry.key == $to) selected #end>$entry.value</option>
              #end
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Status</label>

        <div class="col-lg-8">
            <select name="status" class="form-control">
              #foreach ($entry in $statusMap.entrySet())
                  <option value="$entry.key" #if ($entry.key == $to) selected #end>$entry.value</option>
              #end
            </select>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">Run Report</button>
            <button type="submit" class="btn btn-info" name="csv" value="csv">Download CSV</button>
        </div>
    </div>

</form>

<table class="table table-condensed table-hover">

    <tr>
        <th>Total vatable sales</th>
        <td>$number.currency($vatableSalesTotal)</td>
    </tr>

    <tr>
        <th>Total vat free sales</th>
        <td>$number.currency($vatFreeSalesTotal)</td>
    </tr>

    <tr>
        <th>VAT</th>
        <td>$number.currency($vat)</td>
    </tr>

    <tr>
        <th>Total sales</th>
        <td>$number.currency($total)</td>
    </tr>


</table>


<table class="table table-condensed table-hover">

    <tr>
        <th>Id</th>
        <th>Date Placed</th>
        <th>Status</th>
        <th>Subtotal</th>
        <th>Vat</th>
        <th>Total</th>
    </tr>

  #foreach ($line in $lines)

      <tr>
          <td><a href="/backoffice/order/$line.orderId()">$line.orderId()</a></td>
          <td>
              <a href="/backoffice/plugin/shopping/salesreport">$datetool.format("dd-MMM-yyyy", $line.datePlaced())</a>
          </td>
          <td>$line.status()</td>
          <td>$number.currency($line.subtotal())</td>
          <td>$number.currency($line.vat())</td>
          <td>$number.currency($line.total())</td>
      </tr>

  #end

</table>

#parse("/admin/footer.vm")