#parse("/admin/header.vm")

<div class="page-header">
    <h2>General Settings</h2>
</div>


<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-2 control-label">Offline</label>

        <div class="col-lg-8">
          #springFormCheckbox("settings.offline", "")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Offline Message</label>

        <div class="col-lg-8">
          #springFormInput("settings.offlineMessage", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Max image width</label>

        <div class="col-lg-8">
          #springFormInput("settings.maxImageWidth", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Max image height</label>

        <div class="col-lg-8">
          #springFormInput("settings.maxImageHeight", "class='form-control'")
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </div>

</form>

#parse("/admin/footer.vm")