#parse("/admin/header.vm")

<div class="page-header">
    <h2>Installation</h2>
</div>

<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-2 control-label">Server</label>

        <div class="col-lg-8">
          $request.localName
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Cdn</label>

        <div class="col-lg-8">
          $assetStore.cdn
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Domain</label>

        <div class="col-lg-8">
          #springFormInput("installation.domain", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Admin Email</label>

        <div class="col-lg-8">
          #springFormInput("installation.adminEmail", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>

        <div class="col-lg-8">
          #springFormInput("installation.name", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Address</label>

        <div class="col-lg-8">
          #springFormInput("installation.address", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Postcode</label>

        <div class="col-lg-8">
          #springFormInput("installation.postcode", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Country</label>

        <div class="col-lg-8">
          #springFormInput("installation.country", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Email</label>

        <div class="col-lg-8">
          #springFormInput("installation.email", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Telephone</label>

        <div class="col-lg-8">
          #springFormInput("installation.telephone", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Vat Number</label>

        <div class="col-lg-8">
          #springFormInput("installation.vatNumber", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Company Number</label>

        <div class="col-lg-8">
          #springFormInput("installation.companyNumber", "class='form-control'")
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </div>

</form>

#parse("/admin/footer.vm")
