#parse("/admin/header.vm")

<h3>Installation</h3>

<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-2 control-label">Server</label>

        <div class="col-lg-8">
            $request.localName
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Cdn</label>

        <div class="col-lg-8">
            $assetStore.cdn
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Domain</label>

        <div class="col-lg-8">
            #springFormInput("installation.domain")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Admin Email</label>

        <div class="col-lg-8">
            #springFormInput("installation.adminEmail")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>

        <div class="col-lg-8">
            #springFormInput("installation.name")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Address</label>

        <div class="col-lg-8">
            #springFormInput("installation.address")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Postcode</label>

        <div class="col-lg-8">
            #springFormInput("installation.postcode")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Country</label>

        <div class="col-lg-8">
            #springFormInput("installation.country")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Email</label>

        <div class="col-lg-8">
            #springFormInput("installation.email")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Telephone</label>

        <div class="col-lg-8">
            #springFormInput("installation.telephone")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Vat Number</label>

        <div class="col-lg-8">
            #springFormInput("installation.vatNumber")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Company Number</label>

        <div class="col-lg-8">
            #springFormInput("installation.companyNumber")
        </div>
    </div>


    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-default">Cancel</button>
    </div>

</form>

#parse("/admin/footer.vm")
