#parse("/admin/header.vm")


<h3>Edit Attribute: $attribute.name</h3>

<form class="form-horizontal" method="POST">

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormInput("attribute.name")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Attribute Type</label>

        <div class="controls">
            #springFormSingleSelect("attribute.attributeType", $attributeTypeMap)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Description</label>

        <div class="controls">
            #springFormCheckbox("attribute.description")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Section</label>

        <div class="controls">
            #springFormInput("attribute.section")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Public</label>

        <div class="controls">
            #springFormCheckbox("attribute.public")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">User Editable</label>

        <div class="controls">
            #springFormCheckbox("attribute.userEditable")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Optional</label>

        <div class="controls">
            #springFormCheckbox("attribute.optional")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Multiple values</label>

        <div class="controls">
            #springFormCheckbox("attribute.multipleValues")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Facet</label>

        <div class="controls">
            #springFormCheckbox("attribute.facet")
        </div>
    </div>


    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="/backoffice/type/$attribute.objectType.id" class="btn">Return</a>
    </div>


    #if ($attribute.attributeType == "Selection")
        <legend>Selection Options</legend>
        <table class="table table-condensed table-hover" id="fields-table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Required</th>
                <th></th>
            </tr>
            #foreach ($field in $fields)
                <tr data-field-id="$field.id" class="field-row">
                    <td>$field.id</td>
                    <td>$field.name</td>
                    <td>$field.fieldType</td>
                    <td>#if ($field.required) <span class="label label-important">Required</span>#end</td>
                    <td>
                        <a href="/backoffice/form/$form.id/field/$field.id" role="button" class="btn btn-mini">
                            <i class="icon-pencil"></i></a>


                        <a onClick="bootbox.confirm('Confirm delete', function(result) {
                                if (result) {
                                window.location='/backoffice/form/$form.id/field/$field.id/delete';
                                }})" role="button" class="btn btn-danger btn-mini">
                            <i class="icon-trash icon-white"></i></a>
                    </td>
                </tr>
            #end
        </table>
    #end


</form>

#parse("/admin/footer.vm")