#parse("/admin/header.vm")


<h3>Edit Attribute: $attribute.name</h3>

<form class="form-horizontal" method="POST">

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormInput("attribute.name")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Attribute Type</label>

        <div class="controls">
            #springFormSingleSelect("attribute.attributeType", $attributeTypeMap)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Description</label>

        <div class="controls">
            #springFormCheckbox("attribute.description")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Section</label>

        <div class="controls">
            #springFormInput("attribute.section")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Public</label>

        <div class="controls">
            #springFormCheckbox("attribute.public")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">User Editable</label>

        <div class="controls">
            #springFormCheckbox("attribute.userEditable")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Optional</label>

        <div class="controls">
            #springFormCheckbox("attribute.optional", "")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Multiple values</label>

        <div class="controls">
            #springFormCheckbox("attribute.multipleValues", "")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Manual options ordering</label>

        <div class="controls">
            #springFormCheckbox("attribute.manualOptionsOrdering", "")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Facet</label>

        <div class="controls">
            #springFormCheckbox("attribute.facet", "")
        </div>
    </div>


    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="/backoffice/type/$attribute.objectType.id" class="btn">Return</a>
    </div>

</form>


#if ($attribute.attributeType == "Selection")
<legend>Selection Options</legend>
<table class="table table-condensed table-hover" id="options-table">
    <tr>
        <th>Value</th>
        <th>Actions</th>
    </tr>
    #foreach ($option in $options)
        <tr data-field-id="$option.id" class="option-row">
            <td>$!option.value</td>
            <td>
                <a href="/backoffice/attribute/$attribute.id/option/$option.id" role="button"
                   class="btn btn-mini">
                    <i class="icon-pencil"></i></a>

                <a href="/backoffice/attribute/$attribute.id/option/$option.id/delete" role="button"
                   class="btn btn-mini btn-danger">
                    <i class="icon-trash icon-white"></i></a>
            </td>
        </tr>
    #end
    <tr>
        <td colspan="2"><a href="/backoffice/attribute/$attribute.id/option/create">
            <i class="icon-plus"></i> Create New Option</a></td>
    </tr>
</table>
#end


<script>
    $(function () {
        $("#options-table tbody").sortable({

            update: function (event, ui) {
                var order = []
                $("#options-table tr.option-row").each(function (v) {
                    var id = $(this).attr("data-field-id")
                    order.push(id)
                })

                $.ajax({
                    type: "POST",
                    url: "/backoffice/attribute/$attribute.id/option/order",
                    contentType: "text/plain",
                    data: order.join('-')
                });
            }
        });
        $("#options-table tbody").disableSelection();
    });
</script>



#parse("/admin/footer.vm")