#parse("/admin/header.vm")

<div class="page-header">
    <h2>Edit Search Form $form.id</h2>
</div>

<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>

        <div class="col-lg-8">
          #springFormInput("form.name", "class='form-control'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Object Type</label>

        <div class="col-lg-8">
            <select id="objectType" name="objectType" class="form-control">
              #foreach($option in $objectTypesMap.keySet())
                  <option value="${option}"
                    #if("$!form.objectType.id" == "$option")
                          selected="selected"
                    #end>
                    ${objectTypesMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Sort</label>

        <div class="col-lg-8">
            <select id="sort" name="sort" class="form-control">
              #foreach($option in $sortMap.keySet())
                  <option value="${option}"
                    #if("$!form.sort" == "$option")
                          selected="selected"
                    #end>
                    ${sortMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a href="/backoffice/searchform" class="btn btn-default">Return</a>
        </div>
    </div>

</form>


<legend>Fields</legend>
<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th></th>
    </tr>
  #foreach ($f in $fields)
      <tr>
          <td>$f.id</td>
          <td>$!f.name</td>
          <td>$f.fieldType</td>
          <td>
              <a href="/backoffice/searchform/$form.id/field/$f.id" role="button" class="btn btn-xs btn-default">
                  <i class="glyphicon glyphicon-pencil"></i>
              </a>
          </td>
      </tr>
  #end
</table>

<div class="panel panel-default">
    <div class="panel-body">
        <a href="/backoffice/searchform/$form.id/field/create" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i> Create Form Field
        </a>
    </div>
</div>

#parse("/admin/footer.vm")