#parse("/admin/header.vm")

<h3>Attachment Section</h3>

<form class="form-horizontal" method="POST" enctype="multipart/form-data">

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
          #springFormInput("section.name", "class='input-xlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Visible</label>

        <div class="controls">
          #springFormCheckbox("section.visible", "")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Upload</label>

        <div class="controls">
            <input type="file" name="upload"/>
        </div>
    </div>

    <table class="table table-condensed table-hover">
        <tr>
            <th>Attachment</th>
            <th>Description</th>
            <th></th>
        </tr>
      #foreach ($attachment in $section.attachments())
          <tr>
              <td>$attachment.assetKey()
                  <a class="btn btn-xs" href="/asset/$attachment.assetKey()">
                      <i class="icon-download-alt icon-white"></i> Download</a>
              </td>
              <td><textarea name="desc_$attachment.assetKey()" cols="80" class="input-xlarge"
                            placeholder="enter description of attachment">$!attachment.description()</textarea></td>
              <td><a class="btn btn-danger btn-xs"
                     href="/backoffice/plugin/attachment/section/$section.id/delete/$attachment.assetKey()">
                  <i class="icon-trash icon-white"></i> Remove</a>
              </td>
          </tr>
      #end
    </table>


    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>



#parse("/admin/footer.vm")