#parse("/admin/header.vm")


<h3>Edit Section</h3>

<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>

        <div class="col-lg-8">
          #springFormInput("section.name", "class='input-xlarge'")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Visible</label>

        <div class="col-lg-8">
          #springFormCheckbox("section.visible", "")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Google Ad Client</label>

        <div class="col-lg-8">
          #springFormInput("section.googleAdClient", "")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Google Ad Slot</label>

        <div class="col-lg-8">
          #springFormInput("section.googleAdSlot", "")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">google_ad_width</label>

        <div class="col-lg-8">
          #springFormInput("section.googleAdWidth", "")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">google_ad_height</label>

        <div class="col-lg-8">
          #springFormInput("section.googleAdHeight", "")
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>

      #if ($section.folder)
          <a href="/backoffice/folder/$section.folder.id" class="btn btn-default">Return</a>
      #end
      #if ($section.item)
          <a href="/backoffice/item/$section.item.id" class="btn btn-default">Return</a>
      #end
    </div>

</form>

#parse("/admin/footer.vm")