<label>Email</label>
#springFormInput("login.email")
#springShowErrors("<br/>")
    
    <div id="ap_signin1a_pagelet_title" class="ap_row ap_pagelet_title">
      <h1>Sign In</h1>
    </div>

    

    
    <div id="ap_signin1a_email_section_title" class="ap_row ap_section_title">
      <h2></h2>
    </div>

    
             
    
    <div id="ap_signin1a_email_row" class="ap_row">
      
        
        
        
          <span class="ap_col1 ap_bold ap_right ap_no_collapse"><label for="ap_email">Enter your e-mail address </label></span>
        
      
      
      
      <span class="ap_col2 ap_left">
        <input id="ap_email" name="email" value="samspade792@gmail.com" type="email" size="30" maxlength="128" tabindex="1" autocorrect="off" autocapitalize="off">
      </span>
    </div>
    
    <div id="ap_signin_custom_message" class="center clear-both">
      
    </div>

    
      
      

        
        <div id="ap_signin1a_password_section_title" class="ap_row ap_section_title">
          <h2>  </h2>
        </div>

        
        <div id="ap_signin1a_new_cust_radio_row" class="ap_row">
          <span id="" class="ap_col1 ap_right ap_no_collapse">
            <input type="radio" onclick="setElementAvailability('ap_password', false);jQuery('#ap_captcha_table').hide();" name="create" id="ap_signin_create_radio" value="1" tabindex="6">
          </span>
          <span id="" class="ap_col2 bold ap_radio_label">
            <label for="ap_signin_create_radio">I am a new customer.</label>
            <div class="small">(You'll create a password later)</div>
          </span>
        </div>

        
        <div id="ap_signin1a_exist_cust_radio_row" class="ap_row">
          <span class="ap_col1 ap_right">
            <input type="radio" name="create" onclick="setElementAvailability('ap_password', true);jQuery('#ap_captcha_table').show();" id="ap_signin_existing_radio" value="0" tabindex="7" checked="checked">
          </span>
          <span class="ap_col2 bold ap_radio_label"><label for="ap_signin_existing_radio">I am a returning customer, <br>and my password is:</label></span>
        </div>

        

        
        <div id="ap_signin1a_password_row" class="ap_row">
          <span class="ap_col1">&nbsp;</span>
          <span class="ap_col2">
            <input id="ap_password" name="password" type="password" maxlength="1024" size="20" tabindex="2" onkeypress="displayCapsWarning(event,'ap_caps_warning', this);" class="password">
          </span>
          
          <span id="ap_caps_warn_span">
            
              
              
            
 


<div id="ap_caps_warning" class="ap_caps_warn ap_col3_caps_warn" style="visibility:hidden;"> 
  <!--[if lt IE 7]>
  <style type="text/css">
  .ap_caps_warn {
    display: none;
  }
  </style>
  <![endif]-->
  <b>Caps Lock is on.</b> <font color="black">This may cause you <br>to enter your password incorrectly.</font>
</div>

          </span>
        </div>
        
        <!--[if IE]><![if !IE]><![endif]-->
          <div id="ap_small_forgot_password_link">
        <!--[if IE]><![endif]><![endif]-->
        <!--[if lte IE 6]>
          <div id="ap_small_forgot_password_link_ie_old" class="ie_old">
        <![endif]-->
        <!--[if gte IE 7]>
           <div id="ap_small_forgot_password_link_ie_new" class="ie_new">
        <![endif]-->
            <span class="small" id="ap_small_forgot_password_span">
              <a href="https://www.amazon.co.uk/ap/forgotpassword?rmrMeStringID=ap_remember_me_for_purchases&amp;openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&amp;pageId=amazon_checkout_gb&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.assoc_handle=amazon_checkout_gb&amp;showRmrMe=1&amp;suppressSignInRadioButtons=0&amp;openid.pape.max_auth_age=0&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;siteState=hasWorkingJavascript%3D1&amp;openid.mode=checkid_setup&amp;openid.return_to=https%3A%2F%2Fwww.amazon.co.uk%2Fgp%2Fbuy%2Fsignin%2Fhandlers%2Fcontinue.html%3Fie%3DUTF8%26hasWorkingJavascript%3D1%26oldCustomerId%3D0%26oldPurchaseId%3D%26preInitiateCustomerId%3DA04730193ALTS2PAWX0MZ%26purchaseInProgress%3D%26siteDesign%3Denabled"></a>
            </span>
          </div>
      
    

    
      <div id="ap_remember_me_checkbox_row" class="ap_row">
        <span class="ap_col1">&nbsp;</span>
        <span id="ap_remember_me_checkbox" class="ap_col2">
          <input type="checkbox" name="rememberMe" value="true" id="rememberMe" tabindex="3">
          
          <label for="rememberMe">Keep me signed in.</label>
          
            <a id="ap_signin_remember_me_learnmore_link" href="/gp/help/customer/display.html/?nodeId=200965410&amp;pop-up=1" target="AmazonHelp" onclick="return amz_js_PopWin(this.href,'AmazonHelp','width=700,height=500,resizable=1,scrollbars=1,toolbar=1,status=1');return false;">
              Details
            </a>
          
        </span>
      </div>
    

    
    
    
    <div id="ap_signin1a_signin_button_row" class="ap_row">
      <span class="ap_col1">&nbsp;</span>
      <span class="ap_col2">
        
          
          
            <input type="image" src="https://images-na.ssl-images-amazon.com/images/G/02/x-locale/common/buttons/sign-in-secure._V192198127_.gif" id="signInSubmit" height="22" onload="if (typeof uet == 'function') { uet('cf'); }" alt="Continue" width="201" tabindex="5" value="Continue" border="0">
          
            
      </span>
      <div class="ap_csm_marker" style="display:none;">
        <script type="text/javascript">if (typeof uet == 'function') { uet('af'); }</script>
      </div>
    </div>
    
    
    
    
    <div id="ap_signin1a_forgot_password_row" class="ap_row">
      <span class="ap_col1">&nbsp;</span>
      <span class="ap_col2">
        <a href="https://www.amazon.co.uk/ap/forgotpassword?rmrMeStringID=ap_remember_me_for_purchases&amp;openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&amp;pageId=amazon_checkout_gb&amp;openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;openid.assoc_handle=amazon_checkout_gb&amp;showRmrMe=1&amp;suppressSignInRadioButtons=0&amp;openid.pape.max_auth_age=0&amp;openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&amp;openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&amp;siteState=hasWorkingJavascript%3D1&amp;openid.mode=checkid_setup&amp;openid.return_to=https%3A%2F%2Fwww.amazon.co.uk%2Fgp%2Fbuy%2Fsignin%2Fhandlers%2Fcontinue.html%3Fie%3DUTF8%26hasWorkingJavascript%3D1%26oldCustomerId%3D0%26oldPurchaseId%3D%26preInitiateCustomerId%3DA04730193ALTS2PAWX0MZ%26purchaseInProgress%3D%26siteDesign%3Denabled">Forgotten your password? Click here</a>
      </span>
    </div>


    
 