#parse("/admin/header.vm")

<div class="page-header">
    <h2>Search Plugin Settings</h2>
</div>


<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-2 control-label">Search Results Markup</label>

        <div class="col-lg-8">
            <select id="markup" name="markup" class="form-control">
              #foreach($option in $markupMap.keySet())
                  <option value="${option}"
                    #if("$!plugin.markup.id" == "$option")
                          selected="selected"
                    #end>
                    $!{markupMap.get($option)}</option>
              #end
            </select>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </div>

</form>

#parse("/admin/footer.vm")