${header}

<script>
    function updateBasketLine(id) {
    qty = jQuery("#basketline_qty_"+id).val();
    window.location='basket.update?id='+id+'&qty='+qty;
    }
    function updateDelivery() {
    alert("yes");
    }
</script>


<h1>Basket</h1>


<table class="basket">
    <tr>
        <th></th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>

    #foreach ($line in $basket.lines)

        <tr>
            <td class="image" valign="top"><img width="64" height="64" src="$imageProvider.getImageUrl($line.item.anyImage.key)"/></div>
            </td>
            <td class="basketitemname" valign="top">
                <div>$line.item.name</div>
                <div>$line.item.flattenedAttributes</div>
                <div class="basketlinestock">$!line.item.availability</div>
                <div class="delete"><a href="basket.remove?id=$line.id">Delete</a></div>
            </td>
            <td class="basketlineqty" valign="top">
                <input type="text" id="basketline_qty_${line.id}" value="$line.qty" size="4"
                       onKeyDown="jQuery('#update_for_${line.id}').show();"/>

                <div><a href="javascript:updateBasketLine($line.id)" id="update_for_$line.id">Update</a></div>
                <script>
                    jQuery(document).ready(function(){
                    jQuery("#update_for_${line.id}").hide();
                    });
                </script>

            </td>
            <td class="basketlineprice" valign="top">$line.salePriceInc</td>
            <td class="basketlinetotal" valign="top">$line.lineSalePriceInc</td>

        </tr>

    #end

    <tr class="delivery">
        <td colspan="5">Select delivery:
            <select onChange="updateDelivery()">
                #foreach ($rate in $deliveryRates)
                    <option>$rate</option>
                #end
                <option>1</option>
                <option>2</option>
            </select></td>
    </tr>

</table>

<div class="subtotal">Subtotal: $basket.subtotalInc</div>
<div class="delivery">Delivery Charge: $basket.deliveryChargeInc</div>
<div class="total">Total: $basket.totalInc.</div>

<div class="basketcheckout">
    <button onClick="window.location='$urlResolver.checkout'">Checkout</button>
</div>

${footer}