#parse("/admin/header.vm")

<div class="page-header">
    <h2>Google Base Feeds</h2>
</div>

<table class="table table-condensed table-hover">
    <tr>
        <th>Id</th>
        <th>Uploading to</th>
        <th>Category</th>
        <th>Last Runtime</th>
        <th></th>
    </tr>

  #foreach ($feed in $feeds)
      <tr>
          <td><a href="/backoffice/feed/gbase/$feed.id">$feed.id</a></td>
          <td>$!feed.ftpHostname</td>
          <td>$!feed.productCategory</td>
          <td>
            #if($feed.lastRuntime>0)
              $datetool.format($feed.lastRuntime)
            #else
                Never
            #end
          </td>
          <td>
              <a href="/backoffice/feed/gbase/$feed.id" role="button" class="btn btn-xs btn-default">
                  <i class="glyphicon glyphicon-pencil"></i>
              </a>
              <a href="/backoffice/feed/gbase/$feed.id/run" role="button" class="btn btn-xs btn-default">
                  <i class="glyphicon glyphicon-play"></i>
              </a>
          </td>
      </tr>
  #end
</table>

<div class="panel panel-default">
    <div class="panel-body">
        <a href="/backoffice/feed/create" role="button" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i> Create New Feed</a>
    </div>
</div>

#parse("/admin/footer.vm")