#parse("/admin/header.vm")


<h3>Edit Form Field</h3>

<form class="form-horizontal" method="POST">

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormInput("field.name")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormSingleSelect("field.fieldType", $typesMap)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Required</label>

        <div class="controls">
            #springFormCheckbox("field.required")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Placeholder</label>

        <div class="controls">
            #springFormInput("field.placeholder")
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a role="button" class="btn" href="/backoffice/form/$form.id">Return</a>
    </div>

</form>

#parse("/admin/footer.vm")