#parse("/admin/header.vm")


<h3>View Order $order.id</h3>

<form class="form-horizontal" method="POST">

    <legend>Order Details</legend>
    <div class="control-group">
        <label class="control-label">Account</label>

        <div class="controls">
            <span class="input-xlarge uneditable-input">$order.account.name</span>
            <span class="input-xlarge uneditable-input">$order.account.email</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Status</label>

        <div class="controls">
            <input type="status" value="$order.status"/>
        </div>
    </div>

    <legend>Delivery Address</legend>
    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            <span class="input-xxlarge uneditable-input">$order.deliveryAddress.name</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Company</label>

        <div class="controls">
            <span class="input-xxlarge uneditable-input">$!order.deliveryAddress.company</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Address</label>

        <div class="controls">
            <span class="input-xlarge uneditable-input">$order.deliveryAddress.address1</span>
        </div>
    </div>
    <div class="control-group">

        <div class="controls">
            <span class="input-xlarge uneditable-input">$!order.deliveryAddress.address2</span>
        </div>
    </div>
    <div class="control-group">

        <div class="controls">
            <span class="input-xlarge uneditable-input">$!order.deliveryAddress.address3</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">City</label>

        <div class="controls">
            <span class="input-large uneditable-input">$order.deliveryAddress.town</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Postcode</label>

        <div class="controls">
            <span class="input-medium uneditable-input">$order.deliveryAddress.postcode</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Country</label>

        <div class="controls">
            <span class="input-large uneditable-input">$order.deliveryAddress.country</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Instructions</label>

        <div class="controls">
            <span class="input-xxlarge uneditable-input">$!order.deliveryAddress.instructions</span>
        </div>
    </div>
</form>


<legend>Lines</legend>
<table class="table table-condensed table-hover">
    <tr>
        <th>Description</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Subtotal</th>
        <th>Vat</th>
        <th>Total</th>
        <th></th>
    </tr>
    #foreach ($l in $order.lines)
        <tr>
            <td>$l.description</td>
            <td>$number.currency($l.priceExVat())</td>
            <td>$l.qty</td>
            <td>$number.currency($l.totalExVat())</td>
            <td>$number.currency($l.totalVat()) @ $l.vatRate%</td>
            <td>$number.currency($l.totalIncVat())</td>
            <td>
                <a class="btn btn-small" href="/backoffice/order/$order.id/line/$l.id/remove">
                    <i class="icon-trash"></i></a>
            </td>
        </tr>
    #end
    <tr>
        <td>$order.deliveryDetails</td>
        <td>$number.currency($order.deliveryCharge)</td>
        <td>1</td>
        <td>$number.currency($order.deliveryCharge)</td>
        <td>$number.currency($order.deliveryVat) @ $order.deliveryVatRate%</td>
        <td>$number.currency($order.deliveryChargeInc)</td>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Subtotal</th>
        <td>$number.currency($order.totalExVat())</td>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Vat</th>
        <td>$number.currency($order.totalVat())</td>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total</th>
        <td>$number.currency($order.totalIncVat())</td>
        <th></th>
    </tr>
</table>

<form method="POST" action="/backoffice/order/$order.id/line/add" class="pull-right">
    <input name="objId" type="text" class="input-xlarge"/>
    <button type="submit" class="btn btn-small">Add To Order</button>
</form>


<legend>Payments</legend>
<table class="table table-condensed table-hover">
    <tr>
        <th>Payment Type</th>
        <th>Transaction Id</th>
        <th>Date</th>
        <th>Amount</th>
    </tr>
    #foreach ($payment in $order.payments)
        <tr>
            <td>$payment.paymentType</td>
            <td>$payment.transactionId</td>
            <td>$datetool.format($payment.date)</td>
            <td>$number.currency($payment.amountDecimal())</td>
        </tr>
    #end
</table>


<legend>Comments</legend>
<table class="table table-condensed table-hover">
    <tr>
        <th>Author</th>
        <th>Date</th>
        <th>Comment</th>
    </tr>
    #foreach ($c in $order.comments)
        <tr>
            <td>$c.author</td>
            <td>$datetool.format($c.date)</td>
            <td>$c.body</td>
        </tr>
    #end
</table>

<form method="POST" action="/backoffice/order/$order.id/comment/add" class="pull-right">
    <textarea name="message"></textarea>
    <button type="submit" class="btn btn-small">Add Comment</button>
</form>


#parse("/admin/footer.vm")