#parse("/admin/header.vm")


<h3>Edit Listing Package</h3>

<form class="form-horizontal" method="POST">

    <div class="control-group">
        <label class="control-label">Name</label>

        <div class="controls">
            #springFormInput("package.name", "class='input-xxlarge'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Fee</label>

        <div class="controls">
            #springFormInput("package.fee", "class='input-small'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Duration in days</label>

        <div class="controls">
            #springFormInput("package.duration", "class='input-small'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Max images</label>

        <div class="controls">
            #springFormInput("package.maxImages", "class='input-small'")
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Max folders</label>

        <div class="controls">
            #springFormInput("package.maxFolders", "class='input-small'")
        </div>
    </div>

    $package.folders

    #foreach ($folder in $package.folders)
        <div class="control-group">
            <label class="control-label">Folder</label>

            <div class="controls">
                <select id="folderIds" name="folderIds" class="input-xxlarge">
                </select>
            </div>
        </div>
    #end


    <div class="control-group">
        <label class="control-label">Labels</label>

        <div class="controls">
            #springFormInput("package.labels", "class='input-xlarge'")
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a role="button" class="btn" href="/backoffice/plugin/listingpackage">Return</a>
    </div>

</form>

#parse("/admin/footer.vm")