#parse("/admin/header.vm")


<h3>Edit User</h3>

<form class="form-horizontal" method="POST">

    <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>

        <div class="col-lg-8">
            #springFormInput("user.name")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Active</label>

        <div class="col-lg-8">
            #springFormCheckbox("user.active")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Username</label>

        <div class="col-lg-8">
            #springFormInput("user.username")
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Change Password</label>

        <div class="col-lg-8">
            #springFormInput("user.changePassword")
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-default">Cancel</button>
    </div>

</form>

#parse("/admin/footer.vm")