#parse("/admin/header.vm")


<h3>Edit Disqus Section</h3>

<form class="form-horizontal" method="POST">

    #parse("/admin/section/common.vm")

    <div class="form-group">
        <label class="col-lg-2 control-label">Shortname</label>

        <div class="col-lg-8">
            #springFormInput("section.shortname", "")
        </div>
    </div>

    #parse("/admin/section/actions.vm")

</form>

#parse("/admin/footer.vm")